n8n_logic/exports/.raw/lr4HzWo2QeghXxhH.json
{"success":true,"data":{"id":"lr4HzWo2QeghXxhH","name":"WF0d Ledger Drain","active":true,"nodes":[{"id":"e1f2a3b4-c5d6-7890-abcd-ef0123456789","name":"Sticky Note","parameters":{"content":"## Nexus OS - WF0d Ledger Drain\n\nReplays `inbound_events` stuck at `received`/`failed` (older than 10 min, attempts < 5).\nFor each row: re-forward `raw_payload` to `/webhook/gmail-inbound`, then PATCH status/attempts.\n\nOwner: Member 3. Keep inactive until verified.","height":260,"width":420},"position":[0,0],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"f2a3b4c5-d6e7-8901-bcde-f01234567890","name":"Every 10 Minutes","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"position":[240,240],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"alwaysOutputData":true,"credentials":{"httpCustomAuth":{"id":"4rfwTEeSitzS3JeQ","name":"Supabase API"}},"id":"a3b4c5d6-e7f8-9012-cdef-012345678901","name":"Fetch Stuck Events","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}},"sendHeaders":true,"url":"=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/inbound_events?select=id,platform,external_message_id,raw_payload,team_id,workspace_id,attempts,status,received_at&status=in.(received,failed)&attempts=lt.5&received_at=lt.{{ encodeURIComponent(new Date(Date.now() - 10 * 60 * 1000).toISOString()) }}&order=received_at.asc&limit=25"},"position":[480,240],"retryOnFail":true,"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"b4c5d6e7-f8a9-0123-def0-123456789012","name":"Explode Events","onError":"continueRegularOutput","parameters":{"jsCode":"const http = $input.first().json;\nconst rows = Array.isArray(http)\n  ? http\n  : Array.isArray(http.body)\n    ? http.body\n    : [];\nif (!rows.length) return [];\nreturn rows.map((event) => ({\n  json: {\n    event_id: event.id,\n    platform: event.platform,\n    attempts: typeof event.attempts === 'number' ? event.attempts : 0,\n    team_id: event.team_id,\n    workspace_id: event.workspace_id,\n    raw_payload: event.raw_payload || {},\n  },\n}));"},"position":[720,240],"type":"n8n-nodes-base.code","typeVersion":2},{"alwaysOutputData":true,"id":"c5d6e7f8-a9b0-1234-ef01-234567890123","name":"Replay Forward","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-nexus-channel","value":"={{ $json.platform === 'gmail' ? 'gmail' : 'meta' }}"}]},"jsonBody":"={{ Object.assign({}, $json.raw_payload && typeof $json.raw_payload === 'object' ? $json.raw_payload : {}, { _tenant: $json.team_id ? { team_id: $json.team_id, workspace_id: $json.workspace_id || undefined } : undefined }) }}","method":"POST","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":30000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"https://knurdz3o.app.n8n.cloud/webhook/gmail-inbound"},"position":[960,240],"retryOnFail":true,"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"d6e7f8a9-b0c1-2345-f012-345678901234","name":"Prepare Replay Outcome","onError":"continueRegularOutput","parameters":{"jsCode":"const event = $('Explode Events').item.json;\nconst forward = $input.first().json;\nconst statusCode = Number(forward.statusCode || forward.status || 0);\nconst nextAttempts = (event.attempts || 0) + 1;\nconst maxAttempts = 5;\nconst forwarded = statusCode >= 200 && statusCode < 300;\n\nlet patch;\nif (forwarded) {\n  patch = {\n    status: 'processing',\n    attempts: nextAttempts,\n    last_attempt_at: new Date().toISOString(),\n    error: null,\n  };\n} else if (nextAttempts >= maxAttempts) {\n  patch = {\n    status: 'failed',\n    attempts: nextAttempts,\n    last_attempt_at: new Date().toISOString(),\n    error: 'replay_exhausted',\n  };\n} else {\n  patch = {\n    status: 'received',\n    attempts: nextAttempts,\n    last_attempt_at: new Date().toISOString(),\n    error: 'replay_failed',\n  };\n}\n\nreturn [{ json: { event_id: event.event_id, patch } }];"},"position":[1200,240],"type":"n8n-nodes-base.code","typeVersion":2},{"credentials":{"httpCustomAuth":{"id":"4rfwTEeSitzS3JeQ","name":"Supabase API"}},"id":"e7f8a9b0-c1d2-3456-0123-456789012345","name":"Apply Replay Outcome","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"jsonBody":"={{ $json.patch }}","method":"PATCH","sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/inbound_events?id=eq.{{ $json.event_id }}"},"position":[1440,240],"type":"n8n-nodes-base.httpRequest","typeVersion":4.4}],"connections":{"Apply Replay Outcome":{"main":[[]]},"Every 10 Minutes":{"main":[[{"index":0,"node":"Fetch Stuck Events","type":"main"}]]},"Explode Events":{"main":[[{"index":0,"node":"Replay Forward","type":"main"}]]},"Fetch Stuck Events":{"main":[[{"index":0,"node":"Explode Events","type":"main"}]]},"Prepare Replay Outcome":{"main":[[{"index":0,"node":"Apply Replay Outcome","type":"main"}]]},"Replay Forward":{"main":[[{"index":0,"node":"Prepare Replay Outcome","type":"main"}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true}}}