n8n_logic/exports/.raw/Y54F1bZLJkRyexTH.json
{"success":true,"data":{"id":"Y54F1bZLJkRyexTH","name":"WF0e Gmail Backfill","active":true,"nodes":[{"id":"sn-wf0e","name":"Sticky Note","parameters":{"content":"## Nexus OS - WF0e Gmail Backfill\n\nPolls `gmail_backfill_jobs` (pending/running) and POSTs to `/api/internal/n8n/gmail-backfill`.\nSet n8n Variable `NEXUS_APP_URL` + `NEXUS_INGEST_TOKEN`.","height":220,"width":420},"position":[0,0],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"sched-wf0e","name":"Every 5 Minutes","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"position":[240,240],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"alwaysOutputData":true,"credentials":{"httpCustomAuth":{"id":"4rfwTEeSitzS3JeQ","name":"Supabase API"}},"id":"fetch-jobs","name":"Fetch Backfill Jobs","onError":"continueRegularOutput","parameters":{"authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}},"sendHeaders":true,"url":"https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/gmail_backfill_jobs?select=id,workspace_id,team_id,status&status=in.(pending,running)&order=created_at.asc&limit=5"},"position":[480,240],"retryOnFail":true,"type":"n8n-nodes-base.httpRequest","typeVersion":4.4},{"id":"explode-jobs","name":"Explode Jobs","onError":"continueRegularOutput","parameters":{"jsCode":"const http = $input.first().json;\nconst rows = Array.isArray(http) ? http : Array.isArray(http.body) ? http.body : [];\nif (!rows.length) return [];\nreturn rows.map((job) => ({ json: { job_id: job.id, workspace_id: job.workspace_id, team_id: job.team_id, status: job.status } }));"},"position":[720,240],"type":"n8n-nodes-base.code","typeVersion":2},{"alwaysOutputData":true,"id":"run-backfill","name":"Run Gmail Backfill","onError":"continueRegularOutput","parameters":{"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ ($vars.NEXUS_INGEST_TOKEN || '').trim() }}"}]},"jsonBody":"={{ { workspace_id: $json.workspace_id, job_id: $json.job_id } }}","method":"POST","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}},"timeout":120000},"sendBody":true,"sendHeaders":true,"specifyBody":"json","url":"={{ (($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '')) + '/api/internal/n8n/gmail-backfill' }}"},"position":[960,240],"retryOnFail":true,"type":"n8n-nodes-base.httpRequest","typeVersion":4.4}],"connections":{"Every 5 Minutes":{"main":[[{"index":0,"node":"Fetch Backfill Jobs","type":"main"}]]},"Explode Jobs":{"main":[[{"index":0,"node":"Run Gmail Backfill","type":"main"}]]},"Fetch Backfill Jobs":{"main":[[{"index":0,"node":"Explode Jobs","type":"main"}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true}}}