n8n_logic/exports/approval_trigger.json
{
  "name": "WF - Approval Trigger (Channel Sender)",
  "nodes": [
    {
      "parameters": {
        "content": "## Nexus OS — Approval Trigger → Channel Sender\n\nReceives the POST that `app/api/approval/route.ts` fires on **Approve** and forwards it to the\ntyped, tenant-scoped send executor `POST /api/internal/n8n/send-reply` (docs/channel_sender.md).\n\n**Thin by design:** all send logic (decrypt, refresh, transport, idempotency, status writes)\nlives in the Next.js executor. This workflow only validates and forwards. n8n NEVER decrypts a\ntoken or talks to Gmail.\n\n**Auth/config (n8n Cloud blocks `$env` in nodes — use `$vars`):**\n- URL is hardcoded to the deployed app (`https://nexusos.knurdz.org`).\n- `N8N_INGEST_TOKEN` bearer read via `{{ $vars.N8N_INGEST_TOKEN }}` — add it as an n8n **Variable**\n  (Settings → Variables), NOT an env var.\n\n**Live workflow:** `PtfTN2YTN8bmHzDu` (this JSON is the importable reference; ids differ).",
        "height": 460,
        "width": 420
      },
      "id": "11111111-0000-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-260, -40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-0000-4000-8000-000000000002",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 120],
      "webhookId": "approval-trigger"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function getVar(name) {\n  if (typeof $vars !== 'undefined' && $vars[name] != null && String($vars[name]).trim()) return String($vars[name]).trim();\n  return '';\n}\nconst expected = getVar('N8N_WEBHOOK_TOKEN');\nif (!expected) throw new Error('N8N_WEBHOOK_TOKEN is not set in n8n Variables');\nconst req = $input.first().json || {};\nconst headers = req.headers || {};\nconst auth = String(headers.authorization || headers.Authorization || '').trim();\nconst token = auth.toLowerCase().startsWith('bearer ') ? auth.slice(7).trim() : auth;\nif (!token || token !== expected) throw new Error('Unauthorized');\nreturn $input.all();"
      },
      "id": "11111111-0000-4000-8000-000000000008",
      "name": "Verify Webhook Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 120]
    },
    {
      "parameters": {
        "jsCode": "// Validate the approval payload and normalize it for the send executor.\n// Only 'approve' actions are forwarded; anything else is a no-op.\nconst req = $input.first().json || {};\nconst b = (req && typeof req.body === 'object' && req.body) ? req.body : req;\n\nif (b.action && b.action !== 'approve') {\n  return [{ json: { skip: true, reason: `ignored action: ${b.action}` } }];\n}\n\nconst draft_id = b.draft_id;\nconst team_id = b.team_id;\nif (!draft_id || !team_id) {\n  throw new Error('approval-trigger requires draft_id and team_id');\n}\n\nreturn [{\n  json: {\n    skip: false,\n    draft_id,\n    team_id,\n    conversation_id: b.conversation_id || null,\n    workspace_id: b.workspace_id || null,\n  },\n}];\n"
      },
      "id": "11111111-0000-4000-8000-000000000003",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-skip-false",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11111111-0000-4000-8000-000000000004",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '') + '/api/internal/n8n/send-reply' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.N8N_INGEST_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ draft_id: $json.draft_id, team_id: $json.team_id, conversation_id: $json.conversation_id, workspace_id: $json.workspace_id }) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "11111111-0000-4000-8000-000000000005",
      "name": "Call Send Executor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, forwarded: true, executor: $json }) }}",
        "options": {}
      },
      "id": "11111111-0000-4000-8000-000000000006",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, skipped: true, reason: $json.reason }) }}",
        "options": {}
      },
      "id": "11111111-0000-4000-8000-000000000007",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 220]
    }
  ],
  "connections": {
    "Approval Webhook": {
      "main": [[{ "node": "Verify Webhook Auth", "type": "main", "index": 0 }]]
    },
    "Verify Webhook Auth": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Should Send?", "type": "main", "index": 0 }]]
    },
    "Should Send?": {
      "main": [
        [{ "node": "Call Send Executor", "type": "main", "index": 0 }],
        [{ "node": "Respond Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Call Send Executor": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
