n8n_logic/exports/wf0a_gmail_intake.json
{
  "name": "WF0a Gmail Intake",
  "nodes": [
    {
      "parameters": {
        "content": "## Nexus OS - WF0a Gmail Intake\n\n**Tenant routing:** `Tenant Route Extract` resolves `business_profiles` via `gmail_destination_email`, `whatsapp_routing_number`, `wa_phone_number_id`, `ig_account_id`, `fb_page_id`, or `webhook_route_token` (see migrations `0012` + `20260619120000_meta_unified_inbox_foundation.sql`).\n\n**n8n env:** `NEXUS_GMAIL_DESTINATION_MAILBOX` (IMAP), `NEXUS_WHATSAPP_DESTINATION_NUMBER`, `NEXUS_WA_PHONE_NUMBER_ID`, `NEXUS_WHATSAPP_TOKEN_HEADER` (default `x-nexus-webhook-token`), `NEXUS_WORKSPACE_ID` (fallback if profile has no workspace).\n\nPrimary path: IMAP trigger. Fallback: POST to `/webhook/gmail-inbound` (also receives Meta payloads forwarded from Next.js `/api/meta/webhook`). Normalizer requires verified `_tenant` from **Verify Tenant Context**.",
        "height": 520,
        "width": 400
      },
      "id": "00000027-0000-4000-8000-000000276096",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "simple",
        "downloadAttachments": false
      },
      "id": "00000000-0000-4000-8000-000000000029",
      "name": "Gmail IMAP Trigger (configure credential)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        120
      ],
      "disabled": true,
      "notes": "Enable after adding an IMAP credential in n8n. The webhook fallback below remains available for demos."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-inbound",
        "responseMode": "onReceived",
        "options": {
          "responseData": "{\"status\":\"received\"}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "00000000-0000-4000-8000-000000000301",
      "name": "Gmail Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        360
      ],
      "webhookId": "nexus-gmail-inbound",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const UUID_RE =\n  /^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nfunction isUuid(value) {\n  return typeof value === \"string\" && UUID_RE.test(value.trim());\n}\n\nfunction getEnv(name) {\n  const key = String(name || \"\").trim();\n  if (!key) return \"\";\n  if (typeof $env !== \"undefined\" && $env[key] != null && String($env[key]).trim()) {\n    return String($env[key]).trim();\n  }\n  if (typeof process !== \"undefined\" && process.env && process.env[key]) {\n    return String(process.env[key]).trim();\n  }\n  return \"\";\n}\n\nfunction lowerHeaderMap(headers) {\n  if (!headers || typeof headers !== \"object\") return {};\n  return Object.fromEntries(\n    Object.entries(headers).map(([k, v]) => [String(k).toLowerCase(), v == null ? \"\" : String(v).trim()]),\n  );\n}\n\nfunction firstEmailFromHeaderValue(val) {\n  const s = val == null ? \"\" : String(val).trim();\n  if (!s) return \"\";\n  const angled = s.match(/<([^>]+@[^>]+)>/);\n  if (angled) return angled[1].trim().toLowerCase();\n  const bare = s.match(/([\\w.!#$%&'*+/=?^`{|}~-]+@[\\w.-]+\\.[A-Za-z]{2,})/);\n  return bare ? bare[1].trim().toLowerCase() : \"\";\n}\n\n/**\n * @param {object} raw - Unwrapped intake (IMAP item or webhook body + headers merged)\n * @param {string} envMailbox - NEXUS_GMAIL_DESTINATION_MAILBOX\n */\nfunction extractGmailDestinationMailbox(raw, envMailbox) {\n  const headers = raw.headers || raw.header || {};\n  const h = Array.isArray(raw.headerLines)\n    ? {}\n    : lowerHeaderMap(headers);\n\n  if (!Array.isArray(raw.headerLines)) {\n    const candidates = [\"delivered-to\", \"x-original-to\", \"to\", \"envelope-to\"];\n    for (const name of candidates) {\n      const v = h[name];\n      if (v) {\n        const em = firstEmailFromHeaderValue(v);\n        if (em) return em;\n      }\n    }\n  } else {\n    for (const line of raw.headerLines) {\n      const idx = String(line).indexOf(\":\");\n      if (idx <= 0) continue;\n      const k = String(line).slice(0, idx).trim().toLowerCase();\n      if (![\"delivered-to\", \"x-original-to\", \"to\", \"envelope-to\"].includes(k)) continue;\n      const em = firstEmailFromHeaderValue(String(line).slice(idx + 1));\n      if (em) return em;\n    }\n  }\n\n  const directTo = raw.to || raw.To;\n  if (directTo) {\n    const em = firstEmailFromHeaderValue(directTo);\n    if (em) return em;\n  }\n\n  const fallback = String(envMailbox || \"\").trim().toLowerCase();\n  if (fallback) return fallback;\n  return \"\";\n}\n\nfunction extractBearerFromHeaders(headersLower, headerName) {\n  const name = String(headerName || \"x-nexus-webhook-token\").trim().toLowerCase();\n  const direct = headersLower[name];\n  if (direct) return direct.trim();\n  const auth = headersLower.authorization || headersLower.Authorization || \"\";\n  if (auth && /^bearer\\s+/i.test(auth)) return auth.replace(/^bearer\\s+/i, \"\").trim();\n  return \"\";\n}\n\nfunction normalizeRoutingNumber(num) {\n  return String(num || \"\").replace(/\\s+/g, \"\").trim();\n}\n\n/**\n * WhatsApp / Meta Cloud-ish routing hints from body or headers.\n */\nfunction extractWhatsappRoutingNumber(raw, envFallback) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  const change = entry && entry.changes && entry.changes[0];\n  const value = change && change.value;\n  const meta =\n    value &&\n    value.metadata &&\n    (value.metadata.phone_number_id || value.metadata.display_phone_number);\n  if (meta) return normalizeRoutingNumber(meta);\n\n  const msg = value && value.messages && value.messages[0];\n  if (msg && (msg.to || msg.recipient_id)) return normalizeRoutingNumber(msg.to || msg.recipient_id);\n\n  const h = lowerHeaderMap(body.headers);\n  const hdr = getEnv(\"NEXUS_WHATSAPP_DEST_HEADER\") || \"x-whatsapp-to\";\n  if (h[hdr.toLowerCase()]) return normalizeRoutingNumber(h[hdr.toLowerCase()]);\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.to) return normalizeRoutingNumber(q.to);\n  if (q.phone_number) return normalizeRoutingNumber(q.phone_number);\n  if (q.phone_number_id) return normalizeRoutingNumber(q.phone_number_id);\n\n  return normalizeRoutingNumber(envFallback);\n}\n\nfunction extractInstagramAccountId(raw) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  const recipientId = messaging && messaging.recipient && messaging.recipient.id;\n  if (recipientId) return String(recipientId).trim();\n\n  const objectType = String(body.object || \"\").toLowerCase();\n  if (objectType === \"instagram\" && entry && entry.id) {\n    return String(entry.id).trim();\n  }\n\n  const h = lowerHeaderMap(body.headers);\n  if (h[\"x-ig-account-id\"]) return String(h[\"x-ig-account-id\"]).trim();\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.ig_account_id) return String(q.ig_account_id).trim();\n\n  return \"\";\n}\n\nfunction extractFacebookPageId(raw) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  if (entry && entry.id) return String(entry.id).trim();\n\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  const recipientId = messaging && messaging.recipient && messaging.recipient.id;\n  if (recipientId) return String(recipientId).trim();\n\n  const h = lowerHeaderMap(body.headers);\n  if (h[\"x-fb-page-id\"]) return String(h[\"x-fb-page-id\"]).trim();\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.page_id) return String(q.page_id).trim();\n\n  return \"\";\n}\n\nfunction isProbablyInstagramPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (String(body.object || \"\").toLowerCase() === \"instagram\") return true;\n  const entry = body.entry && body.entry[0];\n  if (entry && Array.isArray(entry.messaging) && entry.messaging[0]) {\n    const platform = detectMetaMessagingPlatformFromBody(body);\n    return platform === \"instagram\";\n  }\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"instagram\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"instagram\") return true;\n  return false;\n}\n\nfunction isProbablyFacebookPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (String(body.object || \"\").toLowerCase() === \"page\") return true;\n  const entry = body.entry && body.entry[0];\n  if (entry && Array.isArray(entry.messaging) && entry.messaging[0]) {\n    const platform = detectMetaMessagingPlatformFromBody(body);\n    return platform === \"facebook\";\n  }\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"facebook\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"facebook\") return true;\n  return false;\n}\n\nfunction detectMetaMessagingPlatformFromBody(body) {\n  const msg = body?.entry?.[0]?.messaging?.[0];\n  if (!msg) return null;\n  const objectType = String(body.object || \"\").toLowerCase();\n  if (objectType === \"instagram\") return \"instagram\";\n  if (objectType === \"page\") return \"facebook\";\n  const recipientId = msg.recipient?.id ? String(msg.recipient.id) : \"\";\n  if (recipientId.startsWith(\"ig\")) return \"instagram\";\n  return \"facebook\";\n}\n\nfunction isProbablyWhatsappPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (body && Array.isArray(body.entry) && body.entry[0] && body.entry[0].changes) return true;\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"whatsapp\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"whatsapp\") return true;\n  return false;\n}\n\n/**\n * Flatten n8n Webhook `{ headers, body, query }` and IMAP items for routing + intake.\n */\nfunction mergeTriggerForRouting(root) {\n  const j = root || {};\n  const h = j.headers && typeof j.headers === \"object\" ? j.headers : {};\n  const q = j.query && typeof j.query === \"object\" ? j.query : {};\n  const b = typeof j.body === \"object\" && j.body !== null ? j.body : {};\n  return {\n    ...b,\n    headers: b.headers && typeof b.headers === \"object\" ? { ...h, ...b.headers } : { ...h },\n    query: b.query && typeof b.query === \"object\" ? { ...q, ...b.query } : { ...q },\n  };\n}\n\n/**\n * Decide lookup route: webhook_token > instagram > facebook > whatsapp > gmail_mailbox.\n *\n * @returns {{ type: string, value: string }}\n */\nfunction resolveRouteFromIntake(root) {\n  const merged = mergeTriggerForRouting(root);\n  const headersLower = lowerHeaderMap(merged.headers);\n  const tokenHeaderName = getEnv(\"NEXUS_WHATSAPP_TOKEN_HEADER\") || \"x-nexus-webhook-token\";\n  const q = merged.query && typeof merged.query === \"object\" ? merged.query : {};\n  const token =\n    extractBearerFromHeaders(headersLower, tokenHeaderName) ||\n    (q.token ? String(q.token).trim() : \"\");\n\n  if (token) {\n    return { type: \"webhook_token\", value: token };\n  }\n\n  if (isProbablyInstagramPayload(merged)) {\n    const ig = extractInstagramAccountId(merged);\n    if (ig) return { type: \"ig_account_id\", value: ig };\n  }\n\n  if (isProbablyFacebookPayload(merged)) {\n    const fb = extractFacebookPageId(merged);\n    if (fb) return { type: \"fb_page_id\", value: fb };\n  }\n\n  if (isProbablyWhatsappPayload(merged)) {\n    const wa = extractWhatsappRoutingNumber(merged, getEnv(\"NEXUS_WHATSAPP_DESTINATION_NUMBER\"));\n    if (wa) return { type: \"whatsapp_number\", value: wa };\n    const waPhoneId = extractWhatsappRoutingNumber(merged, getEnv(\"NEXUS_WA_PHONE_NUMBER_ID\"));\n    if (waPhoneId) return { type: \"wa_phone_number_id\", value: waPhoneId };\n  }\n\n  const gmail = extractGmailDestinationMailbox(merged, getEnv(\"NEXUS_GMAIL_DESTINATION_MAILBOX\"));\n  if (gmail) return { type: \"gmail_mailbox\", value: gmail };\n\n  throw new Error(\n    \"tenant_route_resolver: could not resolve tenant route (set routing keys on business_profiles or env fallbacks)\",\n  );\n}\n\n/**\n * Build `business_profiles` lookup query path starting with `?`.\n */\nfunction buildBusinessProfileLookupPath(route) {\n  if (!route || !route.type || !route.value) {\n    throw new Error(\"tenant_route_resolver: invalid route for profile lookup\");\n  }\n  const v = String(route.value).trim();\n  const enc = encodeURIComponent(v);\n  const base = \"?select=id,team_id,workspace_id&limit=2\";\n  if (route.type === \"gmail_mailbox\") {\n    return `${base}&gmail_destination_email=eq.${encodeURIComponent(v.toLowerCase())}`;\n  }\n  if (route.type === \"whatsapp_number\") {\n    return `${base}&whatsapp_routing_number=eq.${enc}`;\n  }\n  if (route.type === \"wa_phone_number_id\") {\n    return `${base}&wa_phone_number_id=eq.${enc}`;\n  }\n  if (route.type === \"ig_account_id\") {\n    return `${base}&ig_account_id=eq.${enc}`;\n  }\n  if (route.type === \"fb_page_id\") {\n    return `${base}&fb_page_id=eq.${enc}`;\n  }\n  if (route.type === \"webhook_token\") {\n    return `${base}&webhook_route_token=eq.${enc}`;\n  }\n  throw new Error(`tenant_route_resolver: unknown route type ${route.type}`);\n}\n\n/**\n * @param {unknown} rows - JSON array from Supabase\n * @returns {{ id: string, team_id: string, workspace_id: string|null }}\n */\nfunction verifySingleBusinessProfile(rows) {\n  const list = Array.isArray(rows) ? rows : [];\n  if (list.length === 0) {\n    throw new Error(\"tenant_route_resolver: no business_profiles row matched this route\");\n  }\n  if (list.length > 1) {\n    throw new Error(\"tenant_route_resolver: ambiguous business_profiles match (multiple rows)\");\n  }\n  const row = list[0];\n  if (!row || !row.team_id) {\n    throw new Error(\"tenant_route_resolver: matched profile has no team_id\");\n  }\n  return {\n    id: String(row.id),\n    team_id: String(row.team_id),\n    workspace_id: row.workspace_id != null ? String(row.workspace_id) : null,\n  };\n}\n\n/**\n * Shape a webhook root `{ headers, body, query }` or IMAP item into `__intake` for the normalizer.\n */\nfunction buildIntakeEnvelope(triggerJson) {\n  const j = triggerJson || {};\n  if (j.body !== undefined && (j.headers || j.query !== undefined)) {\n    const inner = typeof j.body === \"object\" && j.body !== null ? { ...j.body } : {};\n    inner.headers = j.headers || inner.headers || {};\n    inner.query = j.query || inner.query || {};\n    return inner;\n  }\n  return { ...j };\n}\ntry {\n  const trigger = $input.first().json;\n  const __intake = buildIntakeEnvelope(trigger);\n  const _route = resolveRouteFromIntake(trigger);\n  const lookup_path = buildBusinessProfileLookupPath(_route);\n  return [{ json: { __intake, _route, lookup_path } }];\n} catch (error) {\n  return [\n    {\n      json: {\n        error: error.message,\n        node: 'TenantRouteExtract',\n        timestamp: new Date().toISOString(),\n      },\n    },\n  ];\n}"
      },
      "id": "00000000-0000-4000-8000-000000000501",
      "name": "Tenant Route Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/business_profiles{{ $json.lookup_path }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth"
      },
      "id": "00000000-0000-4000-8000-000000000502",
      "name": "Supabase GET Business Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        360
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1200
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const UUID_RE =\n  /^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nfunction isUuid(value) {\n  return typeof value === \"string\" && UUID_RE.test(value.trim());\n}\n\nfunction getEnv(name) {\n  const key = String(name || \"\").trim();\n  if (!key) return \"\";\n  if (typeof $env !== \"undefined\" && $env[key] != null && String($env[key]).trim()) {\n    return String($env[key]).trim();\n  }\n  if (typeof process !== \"undefined\" && process.env && process.env[key]) {\n    return String(process.env[key]).trim();\n  }\n  return \"\";\n}\n\nfunction lowerHeaderMap(headers) {\n  if (!headers || typeof headers !== \"object\") return {};\n  return Object.fromEntries(\n    Object.entries(headers).map(([k, v]) => [String(k).toLowerCase(), v == null ? \"\" : String(v).trim()]),\n  );\n}\n\nfunction firstEmailFromHeaderValue(val) {\n  const s = val == null ? \"\" : String(val).trim();\n  if (!s) return \"\";\n  const angled = s.match(/<([^>]+@[^>]+)>/);\n  if (angled) return angled[1].trim().toLowerCase();\n  const bare = s.match(/([\\w.!#$%&'*+/=?^`{|}~-]+@[\\w.-]+\\.[A-Za-z]{2,})/);\n  return bare ? bare[1].trim().toLowerCase() : \"\";\n}\n\n/**\n * @param {object} raw - Unwrapped intake (IMAP item or webhook body + headers merged)\n * @param {string} envMailbox - NEXUS_GMAIL_DESTINATION_MAILBOX\n */\nfunction extractGmailDestinationMailbox(raw, envMailbox) {\n  const headers = raw.headers || raw.header || {};\n  const h = Array.isArray(raw.headerLines)\n    ? {}\n    : lowerHeaderMap(headers);\n\n  if (!Array.isArray(raw.headerLines)) {\n    const candidates = [\"delivered-to\", \"x-original-to\", \"to\", \"envelope-to\"];\n    for (const name of candidates) {\n      const v = h[name];\n      if (v) {\n        const em = firstEmailFromHeaderValue(v);\n        if (em) return em;\n      }\n    }\n  } else {\n    for (const line of raw.headerLines) {\n      const idx = String(line).indexOf(\":\");\n      if (idx <= 0) continue;\n      const k = String(line).slice(0, idx).trim().toLowerCase();\n      if (![\"delivered-to\", \"x-original-to\", \"to\", \"envelope-to\"].includes(k)) continue;\n      const em = firstEmailFromHeaderValue(String(line).slice(idx + 1));\n      if (em) return em;\n    }\n  }\n\n  const directTo = raw.to || raw.To;\n  if (directTo) {\n    const em = firstEmailFromHeaderValue(directTo);\n    if (em) return em;\n  }\n\n  const fallback = String(envMailbox || \"\").trim().toLowerCase();\n  if (fallback) return fallback;\n  return \"\";\n}\n\nfunction extractBearerFromHeaders(headersLower, headerName) {\n  const name = String(headerName || \"x-nexus-webhook-token\").trim().toLowerCase();\n  const direct = headersLower[name];\n  if (direct) return direct.trim();\n  const auth = headersLower.authorization || headersLower.Authorization || \"\";\n  if (auth && /^bearer\\s+/i.test(auth)) return auth.replace(/^bearer\\s+/i, \"\").trim();\n  return \"\";\n}\n\nfunction normalizeRoutingNumber(num) {\n  return String(num || \"\").replace(/\\s+/g, \"\").trim();\n}\n\n/**\n * WhatsApp / Meta Cloud-ish routing hints from body or headers.\n */\nfunction extractWhatsappRoutingNumber(raw, envFallback) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  const change = entry && entry.changes && entry.changes[0];\n  const value = change && change.value;\n  const meta =\n    value &&\n    value.metadata &&\n    (value.metadata.phone_number_id || value.metadata.display_phone_number);\n  if (meta) return normalizeRoutingNumber(meta);\n\n  const msg = value && value.messages && value.messages[0];\n  if (msg && (msg.to || msg.recipient_id)) return normalizeRoutingNumber(msg.to || msg.recipient_id);\n\n  const h = lowerHeaderMap(body.headers);\n  const hdr = getEnv(\"NEXUS_WHATSAPP_DEST_HEADER\") || \"x-whatsapp-to\";\n  if (h[hdr.toLowerCase()]) return normalizeRoutingNumber(h[hdr.toLowerCase()]);\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.to) return normalizeRoutingNumber(q.to);\n  if (q.phone_number) return normalizeRoutingNumber(q.phone_number);\n  if (q.phone_number_id) return normalizeRoutingNumber(q.phone_number_id);\n\n  return normalizeRoutingNumber(envFallback);\n}\n\nfunction extractInstagramAccountId(raw) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  const recipientId = messaging && messaging.recipient && messaging.recipient.id;\n  if (recipientId) return String(recipientId).trim();\n\n  const objectType = String(body.object || \"\").toLowerCase();\n  if (objectType === \"instagram\" && entry && entry.id) {\n    return String(entry.id).trim();\n  }\n\n  const h = lowerHeaderMap(body.headers);\n  if (h[\"x-ig-account-id\"]) return String(h[\"x-ig-account-id\"]).trim();\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.ig_account_id) return String(q.ig_account_id).trim();\n\n  return \"\";\n}\n\nfunction extractFacebookPageId(raw) {\n  const body = raw && typeof raw === \"object\" ? raw : {};\n  const entry = body.entry && body.entry[0];\n  if (entry && entry.id) return String(entry.id).trim();\n\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  const recipientId = messaging && messaging.recipient && messaging.recipient.id;\n  if (recipientId) return String(recipientId).trim();\n\n  const h = lowerHeaderMap(body.headers);\n  if (h[\"x-fb-page-id\"]) return String(h[\"x-fb-page-id\"]).trim();\n\n  const q = body.query && typeof body.query === \"object\" ? body.query : {};\n  if (q.page_id) return String(q.page_id).trim();\n\n  return \"\";\n}\n\nfunction isProbablyInstagramPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (String(body.object || \"\").toLowerCase() === \"instagram\") return true;\n  const entry = body.entry && body.entry[0];\n  if (entry && Array.isArray(entry.messaging) && entry.messaging[0]) {\n    const platform = detectMetaMessagingPlatformFromBody(body);\n    return platform === \"instagram\";\n  }\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"instagram\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"instagram\") return true;\n  return false;\n}\n\nfunction isProbablyFacebookPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (String(body.object || \"\").toLowerCase() === \"page\") return true;\n  const entry = body.entry && body.entry[0];\n  if (entry && Array.isArray(entry.messaging) && entry.messaging[0]) {\n    const platform = detectMetaMessagingPlatformFromBody(body);\n    return platform === \"facebook\";\n  }\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"facebook\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"facebook\") return true;\n  return false;\n}\n\nfunction detectMetaMessagingPlatformFromBody(body) {\n  const msg = body?.entry?.[0]?.messaging?.[0];\n  if (!msg) return null;\n  const objectType = String(body.object || \"\").toLowerCase();\n  if (objectType === \"instagram\") return \"instagram\";\n  if (objectType === \"page\") return \"facebook\";\n  const recipientId = msg.recipient?.id ? String(msg.recipient.id) : \"\";\n  if (recipientId.startsWith(\"ig\")) return \"instagram\";\n  return \"facebook\";\n}\n\nfunction isProbablyWhatsappPayload(merged) {\n  const body = merged && typeof merged === \"object\" ? merged : {};\n  if (body && Array.isArray(body.entry) && body.entry[0] && body.entry[0].changes) return true;\n  const ch = String(body.channel || \"\").toLowerCase();\n  if (ch === \"whatsapp\") return true;\n  const h = lowerHeaderMap(body.headers);\n  if (String(h[\"x-nexus-channel\"] || \"\").toLowerCase() === \"whatsapp\") return true;\n  return false;\n}\n\n/**\n * Flatten n8n Webhook `{ headers, body, query }` and IMAP items for routing + intake.\n */\nfunction mergeTriggerForRouting(root) {\n  const j = root || {};\n  const h = j.headers && typeof j.headers === \"object\" ? j.headers : {};\n  const q = j.query && typeof j.query === \"object\" ? j.query : {};\n  const b = typeof j.body === \"object\" && j.body !== null ? j.body : {};\n  return {\n    ...b,\n    headers: b.headers && typeof b.headers === \"object\" ? { ...h, ...b.headers } : { ...h },\n    query: b.query && typeof b.query === \"object\" ? { ...q, ...b.query } : { ...q },\n  };\n}\n\n/**\n * Decide lookup route: webhook_token > instagram > facebook > whatsapp > gmail_mailbox.\n *\n * @returns {{ type: string, value: string }}\n */\nfunction resolveRouteFromIntake(root) {\n  const merged = mergeTriggerForRouting(root);\n  const headersLower = lowerHeaderMap(merged.headers);\n  const tokenHeaderName = getEnv(\"NEXUS_WHATSAPP_TOKEN_HEADER\") || \"x-nexus-webhook-token\";\n  const q = merged.query && typeof merged.query === \"object\" ? merged.query : {};\n  const token =\n    extractBearerFromHeaders(headersLower, tokenHeaderName) ||\n    (q.token ? String(q.token).trim() : \"\");\n\n  if (token) {\n    return { type: \"webhook_token\", value: token };\n  }\n\n  if (isProbablyInstagramPayload(merged)) {\n    const ig = extractInstagramAccountId(merged);\n    if (ig) return { type: \"ig_account_id\", value: ig };\n  }\n\n  if (isProbablyFacebookPayload(merged)) {\n    const fb = extractFacebookPageId(merged);\n    if (fb) return { type: \"fb_page_id\", value: fb };\n  }\n\n  if (isProbablyWhatsappPayload(merged)) {\n    const wa = extractWhatsappRoutingNumber(merged, getEnv(\"NEXUS_WHATSAPP_DESTINATION_NUMBER\"));\n    if (wa) return { type: \"whatsapp_number\", value: wa };\n    const waPhoneId = extractWhatsappRoutingNumber(merged, getEnv(\"NEXUS_WA_PHONE_NUMBER_ID\"));\n    if (waPhoneId) return { type: \"wa_phone_number_id\", value: waPhoneId };\n  }\n\n  const gmail = extractGmailDestinationMailbox(merged, getEnv(\"NEXUS_GMAIL_DESTINATION_MAILBOX\"));\n  if (gmail) return { type: \"gmail_mailbox\", value: gmail };\n\n  throw new Error(\n    \"tenant_route_resolver: could not resolve tenant route (set routing keys on business_profiles or env fallbacks)\",\n  );\n}\n\n/**\n * Build `business_profiles` lookup query path starting with `?`.\n */\nfunction buildBusinessProfileLookupPath(route) {\n  if (!route || !route.type || !route.value) {\n    throw new Error(\"tenant_route_resolver: invalid route for profile lookup\");\n  }\n  const v = String(route.value).trim();\n  const enc = encodeURIComponent(v);\n  const base = \"?select=id,team_id,workspace_id&limit=2\";\n  if (route.type === \"gmail_mailbox\") {\n    return `${base}&gmail_destination_email=eq.${encodeURIComponent(v.toLowerCase())}`;\n  }\n  if (route.type === \"whatsapp_number\") {\n    return `${base}&whatsapp_routing_number=eq.${enc}`;\n  }\n  if (route.type === \"wa_phone_number_id\") {\n    return `${base}&wa_phone_number_id=eq.${enc}`;\n  }\n  if (route.type === \"ig_account_id\") {\n    return `${base}&ig_account_id=eq.${enc}`;\n  }\n  if (route.type === \"fb_page_id\") {\n    return `${base}&fb_page_id=eq.${enc}`;\n  }\n  if (route.type === \"webhook_token\") {\n    return `${base}&webhook_route_token=eq.${enc}`;\n  }\n  throw new Error(`tenant_route_resolver: unknown route type ${route.type}`);\n}\n\n/**\n * @param {unknown} rows - JSON array from Supabase\n * @returns {{ id: string, team_id: string, workspace_id: string|null }}\n */\nfunction verifySingleBusinessProfile(rows) {\n  const list = Array.isArray(rows) ? rows : [];\n  if (list.length === 0) {\n    throw new Error(\"tenant_route_resolver: no business_profiles row matched this route\");\n  }\n  if (list.length > 1) {\n    throw new Error(\"tenant_route_resolver: ambiguous business_profiles match (multiple rows)\");\n  }\n  const row = list[0];\n  if (!row || !row.team_id) {\n    throw new Error(\"tenant_route_resolver: matched profile has no team_id\");\n  }\n  return {\n    id: String(row.id),\n    team_id: String(row.team_id),\n    workspace_id: row.workspace_id != null ? String(row.workspace_id) : null,\n  };\n}\n\n/**\n * Shape a webhook root `{ headers, body, query }` or IMAP item into `__intake` for the normalizer.\n */\nfunction buildIntakeEnvelope(triggerJson) {\n  const j = triggerJson || {};\n  if (j.body !== undefined && (j.headers || j.query !== undefined)) {\n    const inner = typeof j.body === \"object\" && j.body !== null ? { ...j.body } : {};\n    inner.headers = j.headers || inner.headers || {};\n    inner.query = j.query || inner.query || {};\n    return inner;\n  }\n  return { ...j };\n}\ntry {\n  const http = $input.first().json;\n  const prev = $('Tenant Route Extract').first().json;\n  if (prev.error) return [{ json: prev }];\n  const rows = Array.isArray(http)\n    ? http\n    : Array.isArray(http.body)\n      ? http.body\n      : http && http.id\n        ? [http]\n        : [];\n  const profile = verifySingleBusinessProfile(rows);\n  const envWs = getEnv('NEXUS_WORKSPACE_ID');\n  const workspaceId = profile.workspace_id || (isUuid(envWs) ? envWs : null);\n  const intake = prev.__intake || {};\n  return [\n    {\n      json: {\n        ...intake,\n        _tenant: {\n          team_id: profile.team_id,\n          workspace_id: workspaceId,\n          business_profile_id: profile.id,\n          route_source: prev._route.type,\n          route_key: prev._route.value,\n        },\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        error: error.message,\n        node: 'VerifyTenantContext',\n        timestamp: new Date().toISOString(),\n      },\n    },\n  ];\n}"
      },
      "id": "00000000-0000-4000-8000-000000000503",
      "name": "Verify Tenant Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const UUID_RE =\n  /^[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nfunction isUuid(value) {\n  return typeof value === \"string\" && UUID_RE.test(value.trim());\n}\n\nfunction readVerifiedTenant(rawInput) {\n  const raw = rawInput || {};\n  const t = raw._tenant;\n  if (!t || typeof t !== \"object\" || !isUuid(t.team_id)) {\n    throw new Error(\n      \"multi_channel_normalizer: missing verified _tenant.team_id (run Verify Tenant Context before this node)\",\n    );\n  }\n  return {\n    team_id: String(t.team_id).trim(),\n    workspace_id: t.workspace_id != null && isUuid(t.workspace_id) ? String(t.workspace_id).trim() : null,\n    business_profile_id:\n      t.business_profile_id != null && isUuid(t.business_profile_id)\n        ? String(t.business_profile_id).trim()\n        : null,\n    route_source: t.route_source != null ? String(t.route_source) : \"\",\n    route_key: t.route_key != null ? String(t.route_key) : \"\",\n  };\n}\n\nfunction attachTenant(canonical, tenant) {\n  const out = {\n    ...canonical,\n    team_id: tenant.team_id,\n    tenant_route_source: tenant.route_source,\n    tenant_route_key: tenant.route_key,\n  };\n  if (tenant.workspace_id) out.workspace_id = tenant.workspace_id;\n  if (tenant.business_profile_id) out.business_profile_id = tenant.business_profile_id;\n  return out;\n}\n\nfunction stripHtml(html) {\n  if (!html || typeof html !== \"string\") return \"\";\n  return html\n    .replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, \" \")\n    .replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction stripQuotedLines(text) {\n  if (!text || typeof text !== \"string\") return \"\";\n  const withoutGtQuotes = text\n    .split(\"\\n\")\n    .filter((line) => !/^\\s*>/.test(line))\n    .join(\"\\n\");\n  return withoutGtQuotes.replace(/\\n{3,}/g, \"\\n\\n\").trim();\n}\n\nfunction stripSignatureAndQuotes(text) {\n  if (!text || typeof text !== \"string\") return \"\";\n  let t = text.replace(/\\r\\n/g, \"\\n\");\n\n  const idx = t.search(/^On .+ wrote:\\s*$/im);\n  if (idx !== -1) t = t.slice(0, idx).trim();\n\n  const sigDash = t.split(/^--\\s*$/m);\n  if (sigDash.length > 1) t = sigDash[0].trim();\n\n  const sentFrom = t.split(/^Sent from my .+$/im);\n  if (sentFrom.length > 1) t = sentFrom[0].trim();\n\n  return t.trim();\n}\n\nfunction valueText(value) {\n  if (value === null || value === undefined) return \"\";\n  if (typeof value === \"string\") return value;\n  if (typeof value.text === \"string\") return value.text;\n  if (typeof value.value === \"string\") return value.value;\n  if (Array.isArray(value) && value[0]) return valueText(value[0]);\n  return String(value || \"\");\n}\n\nfunction parseFromHeader(from) {\n  const text = valueText(from).trim();\n  if (!text) return { customer_name: \"\", customer_email_or_phone: \"\" };\n\n  const angled = /^\\s*\"?([^\"<]*?)\"?\\s*<\\s*([^>]+)\\s*>\\s*$/;\n  const m = text.match(angled);\n  if (m) {\n    const name = (m[1] || \"\").replace(/^\"|\"$/g, \"\").trim();\n    const email = (m[2] || \"\").trim().toLowerCase();\n    return {\n      customer_name: name || titleCaseFromEmail(email),\n      customer_email_or_phone: email,\n    };\n  }\n\n  const bare = text.match(/^([\\w.!#$%&'*+/=?^`{|}~-]+@[\\w.-]+\\.[A-Za-z]{2,})$/);\n  if (bare) {\n    const email = bare[1].toLowerCase();\n    return {\n      customer_name: titleCaseFromEmail(email),\n      customer_email_or_phone: email,\n    };\n  }\n\n  return { customer_name: text, customer_email_or_phone: \"\" };\n}\n\nfunction titleCaseFromEmail(email) {\n  const local = (email || \"\").split(\"@\")[0] || \"\";\n  return local\n    .replace(/[._-]+/g, \" \")\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\n    .trim();\n}\n\nfunction parseHeaders(raw) {\n  const headers = raw.headers || raw.header || {};\n  if (headers && typeof headers === \"object\" && !Array.isArray(headers)) {\n    return Object.fromEntries(\n      Object.entries(headers).map(([k, v]) => [String(k).toLowerCase(), valueText(v)]),\n    );\n  }\n  if (Array.isArray(raw.headerLines)) {\n    const out = {};\n    for (const line of raw.headerLines) {\n      const idx = String(line).indexOf(\":\");\n      if (idx > 0) out[String(line).slice(0, idx).trim().toLowerCase()] = String(line).slice(idx + 1).trim();\n    }\n    return out;\n  }\n  return {};\n}\n\nfunction unwrapBody(payload) {\n  if (payload && typeof payload === \"object\" && payload.body !== undefined) {\n    const inner =\n      typeof payload.body === \"object\" && payload.body !== null ? { ...payload.body } : {};\n    if (payload.headers && typeof payload.headers === \"object\") {\n      inner.headers = { ...(typeof inner.headers === \"object\" ? inner.headers : {}), ...payload.headers };\n    }\n    if (payload.query && typeof payload.query === \"object\") {\n      inner.query = { ...(typeof inner.query === \"object\" ? inner.query : {}), ...payload.query };\n    }\n    if (payload._tenant) inner._tenant = payload._tenant;\n    return inner;\n  }\n  return payload;\n}\n\nfunction stripAngleId(v) {\n  return String(v || \"\").replace(/[<>]/g, \"\").trim();\n}\n\nfunction threadKey(raw, headers) {\n  if (raw.threadId) return String(raw.threadId);\n  if (raw.thread_id) return String(raw.thread_id);\n  if (raw.id) return `gmail:${raw.id}`;\n  if (headers[\"in-reply-to\"]) return `msg:${stripAngleId(headers[\"in-reply-to\"])}`;\n  if (headers[\"message-id\"]) return `msg:${stripAngleId(headers[\"message-id\"])}`;\n  return null;\n}\n\nfunction looksLikeMetaWhatsapp(raw) {\n  const r = raw || {};\n  return Boolean(r.entry && Array.isArray(r.entry) && r.entry[0] && r.entry[0].changes);\n}\n\nfunction looksLikeMetaMessaging(raw) {\n  const r = raw || {};\n  return Boolean(\n    r.entry &&\n      Array.isArray(r.entry) &&\n      r.entry[0] &&\n      Array.isArray(r.entry[0].messaging) &&\n      r.entry[0].messaging.length > 0,\n  );\n}\n\nfunction metaMessagingObject(raw) {\n  return raw?.entry?.[0]?.messaging?.[0] || null;\n}\n\nfunction detectMetaMessagingPlatform(raw) {\n  const msg = metaMessagingObject(raw);\n  if (!msg) return null;\n  const recipientId = msg.recipient?.id ? String(msg.recipient.id) : \"\";\n  const objectType = String(raw?.object || \"\").toLowerCase();\n  if (objectType === \"instagram\") return \"instagram\";\n  if (objectType === \"page\") return \"facebook\";\n  if (recipientId.startsWith(\"ig\")) return \"instagram\";\n  return \"facebook\";\n}\n\nfunction detectSource(rawInput) {\n  const raw = unwrapBody(rawInput) || {};\n  const explicit = raw.__source || raw.source;\n  if (explicit) {\n    const e = String(explicit).toLowerCase();\n    if ([\"whatsapp\", \"instagram\", \"facebook\"].includes(e)) return e;\n    if ([\"gmail\", \"demo\"].includes(e)) return e;\n  }\n  const ch = String(raw.channel || \"\").toLowerCase();\n  if (ch === \"whatsapp\") return \"whatsapp\";\n  if (ch === \"instagram\") return \"instagram\";\n  if (ch === \"facebook\") return \"facebook\";\n  if (raw.customer_email && raw.message) return \"demo\";\n  if (looksLikeMetaWhatsapp(raw)) return \"whatsapp\";\n  if (looksLikeMetaMessaging(raw)) {\n    const platform = detectMetaMessagingPlatform(raw);\n    if (platform) return platform;\n  }\n  if (\n    raw.from ||\n    raw.From ||\n    raw.subject ||\n    raw.textPlain !== undefined ||\n    raw.text !== undefined ||\n    raw.html !== undefined ||\n    raw.textHtml !== undefined\n  ) {\n    return \"gmail\";\n  }\n  throw new Error(\n    \"multi_channel_normalizer: could not detect gmail, whatsapp, instagram, facebook, or demo payload\",\n  );\n}\n\nfunction parseGmail(rawInput) {\n  const raw = unwrapBody(rawInput) || {};\n  const headers = parseHeaders(raw);\n  const fromField = raw.from || raw.From || headers.from || \"\";\n  const { customer_name, customer_email_or_phone } = parseFromHeader(fromField);\n\n  let body =\n    valueText(raw.textPlain) ||\n    valueText(raw.text) ||\n    valueText(raw.textAsHtml) ||\n    valueText(raw.textHtml);\n  if (!body && raw.html) body = stripHtml(valueText(raw.html));\n  if (raw.textAsHtml && body === valueText(raw.textAsHtml)) body = stripHtml(body);\n  if (raw.textHtml && body === valueText(raw.textHtml)) body = stripHtml(body);\n\n  const message = stripQuotedLines(stripSignatureAndQuotes(body));\n  const subject = valueText(raw.subject || headers.subject);\n  const dateValue = raw.date || raw.dateUtc || raw.internalDate || raw.receivedDate || new Date().toISOString();\n  const receivedAt = typeof dateValue === \"number\" ? new Date(dateValue).toISOString() : new Date(dateValue).toISOString();\n\n  return {\n    source: \"gmail\",\n    customer_name,\n    customer_email_or_phone,\n    message,\n    external_thread_id: threadKey(raw, headers),\n    received_at: receivedAt,\n    raw_payload: rawInput,\n    _filter: {\n      from_header: valueText(fromField),\n      subject,\n      list_unsubscribe: !!(headers[\"list-unsubscribe\"] || headers[\"list_unsubscribe\"]),\n      auto_submitted: headers[\"auto-submitted\"] || headers[\"auto_submitted\"] || \"\",\n      has_attachment: !!(raw.attachments && raw.attachments.length),\n      body_for_rules: message,\n    },\n  };\n}\n\nfunction parseDemo(rawInput) {\n  const raw = unwrapBody(rawInput) || {};\n  return {\n    source: raw.source || \"demo\",\n    customer_name: String(raw.customer_name || \"\").trim(),\n    customer_email_or_phone: String(raw.customer_email || raw.customer_email_or_phone || \"\").trim().toLowerCase(),\n    message: String(raw.message || \"\").trim(),\n    external_thread_id: raw.threadId || raw.thread_id || null,\n    received_at: raw.received_at || new Date().toISOString(),\n    raw_payload: rawInput,\n    _filter: {\n      from_header: raw.customer_email || \"\",\n      subject: raw.subject || \"\",\n      list_unsubscribe: false,\n      auto_submitted: \"\",\n      has_attachment: false,\n      body_for_rules: String(raw.message || \"\").trim(),\n    },\n  };\n}\n\nfunction parseWhatsapp(rawInput) {\n  const raw = unwrapBody(rawInput) || {};\n\n  if (looksLikeMetaWhatsapp(raw)) {\n    const value = raw.entry?.[0]?.changes?.[0]?.value;\n    const msg = value?.messages?.[0];\n    const contacts = value?.contacts || [];\n    const profileName = contacts[0]?.profile?.name || \"\";\n    const waFrom = msg?.from ? String(msg.from).trim() : \"\";\n    const bodyText =\n      (msg?.text && msg.text.body) ||\n      (msg?.button && msg.button.text) ||\n      (msg?.interactive && msg.interactive?.nfm_reply?.response_json) ||\n      \"\";\n\n    const ts = msg?.timestamp;\n    let receivedAt = new Date().toISOString();\n    if (ts != null) {\n      const n = Number(ts);\n      if (Number.isFinite(n)) {\n        receivedAt = new Date(n < 1e12 ? n * 1000 : n).toISOString();\n      }\n    }\n\n    // Deep link must target the CUSTOMER number so \"open native inbox\" starts a chat with them.\n    // `metadata.display_phone_number` is the BUSINESS number — never link to it.\n    const customerDigits = waFrom.replace(/\\D/g, \"\");\n    const permalink = customerDigits ? `https://wa.me/${customerDigits}` : null;\n\n    return {\n      source: \"whatsapp\",\n      channel: \"whatsapp\",\n      customer_name: String(profileName || \"\").trim(),\n      customer_email_or_phone: waFrom,\n      message: String(bodyText || \"\").trim(),\n      external_thread_id: msg?.id ? `wa:${msg.id}` : null,\n      external_permalink: permalink,\n      received_at: receivedAt,\n      timestamp_utc: receivedAt,\n      raw_payload: rawInput,\n      _filter: {\n        from_header: waFrom,\n        subject: \"\",\n        list_unsubscribe: false,\n        auto_submitted: \"\",\n        has_attachment: false,\n        body_for_rules: String(bodyText || \"\").trim(),\n      },\n    };\n  }\n\n  const message = String(raw.message || raw.text || raw.body || \"\").trim();\n  const waFrom = String(raw.from || raw.wa_id || raw.customer_phone || \"\").trim();\n  const phoneDigits = waFrom.replace(/\\D/g, \"\");\n  return {\n    source: \"whatsapp\",\n    channel: \"whatsapp\",\n    customer_name: String(raw.profile_name || raw.customer_name || \"\").trim(),\n    customer_email_or_phone: waFrom,\n    message,\n    external_thread_id: raw.message_id ? `wa:${raw.message_id}` : null,\n    external_permalink: phoneDigits ? `https://wa.me/${phoneDigits}` : null,\n    received_at: raw.received_at || new Date().toISOString(),\n    timestamp_utc: raw.received_at || new Date().toISOString(),\n    raw_payload: rawInput,\n    _filter: {\n      from_header: waFrom,\n      subject: String(raw.subject || \"\").trim(),\n      list_unsubscribe: false,\n      auto_submitted: \"\",\n      has_attachment: false,\n      body_for_rules: message,\n    },\n  };\n}\n\nfunction parseMetaMessaging(rawInput, platform) {\n  const raw = unwrapBody(rawInput) || {};\n  const msg = metaMessagingObject(raw);\n  if (!msg) {\n    throw new Error(`multi_channel_normalizer: invalid ${platform} messaging payload`);\n  }\n\n  const sender = msg.sender || {};\n  const senderId = sender.id ? String(sender.id).trim() : \"\";\n  const senderName = sender.name ? String(sender.name).trim() : \"\";\n  const messageObj = msg.message || {};\n  const bodyText =\n    (messageObj.text && String(messageObj.text)) ||\n    (messageObj.quick_reply && messageObj.quick_reply.payload) ||\n    \"\";\n\n  const ts = msg.timestamp;\n  let receivedAt = new Date().toISOString();\n  if (ts != null) {\n    const n = Number(ts);\n    if (Number.isFinite(n)) {\n      receivedAt = new Date(n < 1e12 ? n * 1000 : n).toISOString();\n    }\n  }\n\n  // NOTE: the message `mid` is NOT a conversation thread id. We keep it as `external_thread_id`\n  // for traceability/idempotency, but must NEVER synthesize a `.../t/<mid>` deep link from it —\n  // that produces a wrong link. Only emit a permalink we can trust.\n  const mid = messageObj.mid ? String(messageObj.mid) : \"\";\n  const prefix = platform === \"instagram\" ? \"ig\" : \"fb\";\n  const threadId = mid ? `${prefix}:${mid}` : null;\n\n  let externalPermalink = null;\n  if (platform === \"instagram\" && sender.username) {\n    // ig.me/m/<username> reliably opens a chat with the customer.\n    externalPermalink = `https://ig.me/m/${encodeURIComponent(String(sender.username))}`;\n  }\n  // Facebook: a page has no reliable customer deep link from a PSID/mid alone → leave null so the\n  // UI shows a graceful \"native inbox unavailable\" state instead of a broken link.\n\n  return {\n    source: platform,\n    channel: platform,\n    customer_name: senderName,\n    customer_email_or_phone: senderId,\n    message: String(bodyText || \"\").trim(),\n    external_thread_id: threadId,\n    external_permalink: externalPermalink,\n    received_at: receivedAt,\n    timestamp_utc: receivedAt,\n    raw_payload: rawInput,\n    _filter: {\n      from_header: senderId,\n      subject: \"\",\n      list_unsubscribe: false,\n      auto_submitted: \"\",\n      has_attachment: false,\n      body_for_rules: String(bodyText || \"\").trim(),\n    },\n  };\n}\n\nfunction parseInstagram(rawInput) {\n  return parseMetaMessaging(rawInput, \"instagram\");\n}\n\nfunction parseFacebook(rawInput) {\n  return parseMetaMessaging(rawInput, \"facebook\");\n}\n\nfunction normalizeItem(raw) {\n  if (!raw || typeof raw !== \"object\") {\n    throw new Error(\"multi_channel_normalizer: invalid input item\");\n  }\n  if (raw.error) {\n    throw new Error(String(raw.error));\n  }\n  const tenant = readVerifiedTenant(raw);\n  const source = detectSource(raw);\n  if (source === \"gmail\") return attachTenant(parseGmail(raw), tenant);\n  if (source === \"demo\") return attachTenant(parseDemo(raw), tenant);\n  if (source === \"whatsapp\") return attachTenant(parseWhatsapp(raw), tenant);\n  if (source === \"instagram\") return attachTenant(parseInstagram(raw), tenant);\n  if (source === \"facebook\") return attachTenant(parseFacebook(raw), tenant);\n  throw new Error(`multi_channel_normalizer: unsupported source \"${source}\"`);\n}\n\ntry {\n  return $input.all().map(({ json }) => ({\n    json: normalizeItem(json),\n  }));\n} catch (error) {\n  return [\n    {\n      json: {\n        error: error.message,\n        node: \"MultiChannelNormalizer\",\n        timestamp: new Date().toISOString(),\n      },\n    },\n  ];\n}\n"
      },
      "id": "00000000-0000-4000-8000-000000000032",
      "name": "Multi-Channel Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Regex end-of-string anchor is appended via String.fromCharCode(36) for n8n static analysis.\nconst AUTOMATED_LOCAL = new RegExp(\n  \"^(no-?reply|noreply|do-not-reply|mailer-daemon|notifications?|notify|alerts?|news(letters?)?|updates?|info|hello|support)(?:\" +\n    String.fromCharCode(36) +\n    \"|[.\\\\-_])\",\n  \"i\",\n);\n\nconst PLEASANTRY = new RegExp(\n  \"^(thanks?|thx|ty|ok|okay|got\\\\s+it|cheers|noted|👍|🙏)\\\\b\\\\.?[!.']*\" + String.fromCharCode(36),\n  \"iu\",\n);\n\nconst OFFICE_SUBJ = /^(out of office|automatic reply|vacation)\\b/i;\n\nconst SPAM_LEX = [\n  \"free\",\n  \"win\",\n  \"click here\",\n  \"prize\",\n  \"viagra\",\n  \"crypto\",\n  String.fromCharCode(36, 36, 36),\n];\n\nfunction tokenCount(s) {\n  return s\n    .trim()\n    .split(/\\s+/)\n    .filter(Boolean).length;\n}\n\nfunction hasQuestion(body) {\n  return typeof body === \"string\" && body.includes(\"?\");\n}\n\nfunction normBody(message, filter) {\n  const b = (filter && filter.body_for_rules) || message || \"\";\n  return String(b).trim();\n}\n\nfunction drop(reason, normalized) {\n  return {\n    json: {\n      keep: false,\n      drop_reason: reason,\n      normalized,\n    },\n  };\n}\n\nfunction keep(normalized) {\n  return {\n    json: {\n      keep: true,\n      drop_reason: null,\n      ...normalized,\n    },\n  };\n}\n\nfunction evaluateNoiseFilter(normalized) {\n  const f = normalized._filter || {};\n  const body = normBody(normalized.message, f);\n  const fromHeader = String(f.from_header || \"\").toLowerCase();\n  const subject = String(f.subject || \"\");\n\n  // Extract rough \"local part\" and domain for Gmail-ish heuristics\n  const emailMatch = fromHeader.match(new RegExp(\"<([^>]+)>\\\\s*\" + String.fromCharCode(36)));\n  const addr = (emailMatch ? emailMatch[1] : fromHeader).trim();\n  const at = addr.lastIndexOf(\"@\");\n  const localPart = at > 0 ? addr.slice(0, at) : addr;\n  const domain = at > 0 ? addr.slice(at + 1) : \"\";\n\n  if (normalized.source === \"gmail\") {\n    if (\n      (AUTOMATED_LOCAL.test(localPart) || AUTOMATED_LOCAL.test(domain)) &&\n      !hasQuestion(body)\n    ) {\n      return drop(\"automated_sender_no_question\", normalized);\n    }\n\n    if (OFFICE_SUBJ.test(subject)) {\n      return drop(\"auto_reply_subject\", normalized);\n    }\n\n    const autoSub = String(f.auto_submitted || \"\").toLowerCase();\n    if (autoSub.includes(\"auto-replied\")) {\n      return drop(\"auto_submitted_header\", normalized);\n    }\n\n    if (f.list_unsubscribe) {\n      return drop(\"list_unsubscribe_header\", normalized);\n    }\n\n    if (\n      /\\bunsubscribe\\b/i.test(body) &&\n      /\\bhttps?:\\/\\//i.test(body.slice(0, 80))\n    ) {\n      return drop(\"newsletter_unsubscribe_body\", normalized);\n    }\n  }\n\n  const tokens = tokenCount(body);\n  if (tokens <= 3 && tokens > 0 && PLEASANTRY.test(body)) {\n    return drop(\"short_pleasantry\", normalized);\n  }\n\n  if (body.length < 8 && !f.has_attachment) {\n    return drop(\"body_too_short\", normalized);\n  }\n\n  let spamHits = 0;\n  const low = body.toLowerCase();\n  for (const w of SPAM_LEX) {\n    if (low.includes(w)) spamHits++;\n  }\n  if (spamHits >= 3) {\n    return drop(\"spam_keyword_density\", normalized);\n  }\n\n  return keep(normalized);\n}\n\n// --- n8n entrypoint ---\ntry {\n  return $input.all().map(({ json }) => evaluateNoiseFilter(json));\n} catch (error) {\n  return [\n    {\n      json: {\n        error: error.message,\n        node: \"NoiseFilter\",\n        timestamp: new Date().toISOString(),\n      },\n    },\n  ];\n}\n"
      },
      "id": "00000000-0000-4000-8000-000000000033",
      "name": "Noise Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000091",
              "leftValue": "={{ $json.keep }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "00000000-0000-4000-8000-000000000034",
      "name": "IF Keep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1420,
        360
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: \"WF0a Gmail Intake\", step: \"noise_filter_dropped\", result: \"skipped\", team_id: $json.normalized.team_id, workspace_id: $json.normalized.workspace_id || $vars.NEXUS_WORKSPACE_ID, payload: $json } }}"
      },
      "id": "00000000-0000-4000-8000-000000000035",
      "name": "Log Noise Drop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1660,
        160
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "try {\n  const normalized = $input.first().json;\n  const teamId = normalized.team_id || '';\n  if (!teamId) throw new Error('DedupLookupQuery: missing team_id');\n  const id = normalized.customer_email_or_phone || '';\n  if (!id) throw new Error('DedupLookupQuery: missing customer_email_or_phone');\n  const variants = [...new Set([id, id.toLowerCase()].filter(Boolean))];\n  const orInner = variants.map((v) => 'customer_email.eq.' + encodeURIComponent(v)).join(',');\n  const lookup_path =\n    '?select=id,status,updated_at' +\n    '&team_id=eq.' + encodeURIComponent(teamId) +\n    '&status=in.(new,in_progress)' +\n    '&or=(' + orInner + ')' +\n    '&order=updated_at.desc&limit=1';\n  return [{ json: { lookup_path, normalized } }];\n} catch (error) {\n  return [{ json: { error: error.message, node: 'DedupLookupQuery', timestamp: new Date().toISOString() } }];\n}"
      },
      "id": "00000000-0000-4000-8000-000000000036",
      "name": "Dedup Lookup Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads{{ $json.lookup_path }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth"
      },
      "id": "00000000-0000-4000-8000-000000000037",
      "name": "Supabase GET Lead Dedup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1900,
        400
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "try {\n  const response = $input.first().json;\n  const rows = Array.isArray(response)\n    ? response\n    : Array.isArray(response.body)\n      ? response.body\n      : response && response.id\n        ? [response]\n        : [];\n  const normalized = $('Multi-Channel Normalizer').first().json;\n  const hit = Array.isArray(rows) && rows[0] && rows[0].id;\n  if (hit) {\n    return [{ json: { action: 'append_conversation', lead_id: rows[0].id, normalized } }];\n  }\n  return [{ json: { action: 'create_new_lead', normalized } }];\n} catch (error) {\n  return [{ json: { error: error.message, node: 'DedupDecision', timestamp: new Date().toISOString() } }];\n}"
      },
      "id": "00000000-0000-4000-8000-000000000038",
      "name": "Dedup Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "append_conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00000000-0000-4000-8000-000000000003"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "append_conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_new_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00000000-0000-4000-8000-000000000004"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_new_lead"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "00000000-0000-4000-8000-000000000039",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2380,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.normalized.source, channel: $json.normalized.channel || \"email\", team_id: $json.normalized.team_id, workspace_id: $json.normalized.workspace_id || $vars.NEXUS_WORKSPACE_ID, customer_name: $json.normalized.customer_name, customer_email: $json.normalized.customer_email_or_phone, message: $json.normalized.message, received_at: $json.normalized.received_at, status: \"unread\", external_thread_id: $json.normalized.external_thread_id || null, external_permalink: $json.normalized.external_permalink || null, raw_payload: Object.assign({}, $json.normalized.raw_payload || {}, { lead_hint: $json.lead_id, external_thread_id: $json.normalized.external_thread_id, external_permalink: $json.normalized.external_permalink, ingest_source: $json.normalized.source }) } }}"
      },
      "id": "00000000-0000-4000-8000-000000000040",
      "name": "POST Conversation (append)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2620,
        260
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads?id=eq.{{ $('Dedup Decision').first().json.lead_id }}&team_id=eq.{{ $('Dedup Decision').first().json.normalized.team_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { updated_at: new Date().toISOString() } }}"
      },
      "id": "00000000-0000-4000-8000-000000000041",
      "name": "PATCH Lead Touch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2860,
        260
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.normalized.source, channel: $json.normalized.channel || \"email\", team_id: $json.normalized.team_id, workspace_id: $json.normalized.workspace_id || $vars.NEXUS_WORKSPACE_ID, customer_name: $json.normalized.customer_name, customer_email: $json.normalized.customer_email_or_phone, message: $json.normalized.message, received_at: $json.normalized.received_at, status: \"unread\", external_thread_id: $json.normalized.external_thread_id || null, external_permalink: $json.normalized.external_permalink || null, raw_payload: Object.assign({}, $json.normalized.raw_payload || {}, { external_thread_id: $json.normalized.external_thread_id, external_permalink: $json.normalized.external_permalink, ingest_source: $json.normalized.source }) } }}"
      },
      "id": "00000000-0000-4000-8000-000000000042",
      "name": "POST Conversation (new)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2620,
        500
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 1500
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knurdz3o.app.n8n.cloud/webhook/nexus/classify",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversation_id: $('POST Conversation (append)').first().json.body[0].id,\n  lead_id: $('Dedup Decision').first().json.lead_id,\n  message: $('Dedup Decision').first().json.normalized.message,\n  customer_name: $('Dedup Decision').first().json.normalized.customer_name,\n  customer_email: $('Dedup Decision').first().json.normalized.customer_email_or_phone,\n  team_id: $('Dedup Decision').first().json.normalized.team_id,\n  workspace_id: $('Dedup Decision').first().json.normalized.workspace_id,\n  channel: $('Dedup Decision').first().json.normalized.channel || 'email'\n} }}"
      },
      "id": "00000000-0000-4000-8000-000000000043",
      "name": "Trigger WF2 Classification (append)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3100,
        260
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knurdz3o.app.n8n.cloud/webhook/nexus/classify",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversation_id: $('POST Conversation (new)').first().json.body[0].id,\n  message: $('Dedup Decision').first().json.normalized.message,\n  customer_name: $('Dedup Decision').first().json.normalized.customer_name,\n  customer_email: $('Dedup Decision').first().json.normalized.customer_email_or_phone,\n  team_id: $('Dedup Decision').first().json.normalized.team_id,\n  workspace_id: $('Dedup Decision').first().json.normalized.workspace_id,\n  channel: $('Dedup Decision').first().json.normalized.channel || 'email'\n} }}"
      },
      "id": "00000000-0000-4000-8000-000000000431",
      "name": "Trigger WF2 Classification (new)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3100,
        500
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: 'WF0a Gmail Intake', step: 'gmail_intake_ok', result: 'success', team_id: $('Dedup Decision').first().json.normalized.team_id, workspace_id: $('Dedup Decision').first().json.normalized.workspace_id || $vars.NEXUS_WORKSPACE_ID, payload: { source: $('Dedup Decision').first().json.normalized.source, wf2_response: $json } } }}"
      },
      "id": "00000000-0000-4000-8000-000000000044",
      "name": "Log Intake OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3340,
        380
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: 'WF0a Gmail Intake', step: 'gmail_intake_error', result: 'error', team_id: $('Dedup Decision').first().json.normalized.team_id, workspace_id: $('Dedup Decision').first().json.normalized.workspace_id || $vars.NEXUS_WORKSPACE_ID, payload: { error: $json, normalized: $('Dedup Decision').first().json.normalized } } }}"
      },
      "id": "00000000-0000-4000-8000-000000000045",
      "name": "Log Intake Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2860,
        80
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 800
    },
    {
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "WF0a: conversation persistence failed after retries. Inspect workflow_logs (gmail_intake_error) and the failed execution."
      },
      "id": "00000000-0000-4000-8000-000000000046",
      "name": "Stop on Intake DB Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3100,
        80
      ]
    }
  ],
  "connections": {
    "Gmail IMAP Trigger (configure credential)": {
      "main": [
        [
          {
            "node": "Tenant Route Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Test Webhook": {
      "main": [
        [
          {
            "node": "Tenant Route Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Route Extract": {
      "main": [
        [
          {
            "node": "Supabase GET Business Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase GET Business Profile": {
      "main": [
        [
          {
            "node": "Verify Tenant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Tenant Context": {
      "main": [
        [
          {
            "node": "Multi-Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Channel Normalizer": {
      "main": [
        [
          {
            "node": "Noise Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noise Filter": {
      "main": [
        [
          {
            "node": "IF Keep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Keep": {
      "main": [
        [
          {
            "node": "Dedup Lookup Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Noise Drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Lookup Query": {
      "main": [
        [
          {
            "node": "Supabase GET Lead Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase GET Lead Dedup": {
      "main": [
        [
          {
            "node": "Dedup Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Decision": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "POST Conversation (append)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST Conversation (new)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Conversation (append)": {
      "main": [
        [
          {
            "node": "PATCH Lead Touch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Intake Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Lead Touch": {
      "main": [
        [
          {
            "node": "Trigger WF2 Classification (append)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Conversation (new)": {
      "main": [
        [
          {
            "node": "Trigger WF2 Classification (new)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Intake Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF2 Classification (append)": {
      "main": [
        [
          {
            "node": "Log Intake OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF2 Classification (new)": {
      "main": [
        [
          {
            "node": "Log Intake OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Intake Error": {
      "main": [
        [
          {
            "node": "Stop on Intake DB Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "nexus-os-export"
  },
  "tags": [
    {
      "name": "nexus-os"
    }
  ]
}