n8n_logic/exports/wf0a_gmail_intake.json
{
  "name": "WF0a Gmail Intake",
  "nodes": [
    {
      "parameters": {
        "content": "## Nexus OS — WF0a Gmail Intake\n\n**Production:** delete `Manual Trigger` + `Load Gmail Fixture` and connect **IMAP Email Read** (or Gmail Trigger) directly into `Multi-Channel Normalizer`.\n\nNormalizer auto-detects Gmail-shaped payloads.",
        "height": 460,
        "width": 400
      },
      "id": "00000016-0000-4000-8000-000000165951",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {},
      "id": "00000000-0000-4000-8000-000000000030",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "return [{\n  json: {\n  \"__source\": \"gmail\",\n  \"subject\": \"Need help launching our revenue ops automation\",\n  \"from\": \"\\\"Alex Customer\\\" <alex.customer@example.com>\",\n  \"text\": \"Hi team — we're evaluating Nexus OS to centralize inbox + follow-ups. Can we book a 20-min call this week?\\n\\nThanks,\\nAlex\\n\\n--\\nAlex Customer\\nFounder, Example Co.\",\n  \"date\": \"2026-05-16T10:15:00.000Z\",\n  \"headers\": {\n    \"message-id\": \"<CA+demo+thread-root@mail.gmail.com>\",\n    \"in-reply-to\": \"\",\n    \"list-unsubscribe\": \"\",\n    \"auto-submitted\": \"\",\n    \"subject\": \"Need help launching our revenue ops automation\",\n    \"from\": \"\\\"Alex Customer\\\" <alex.customer@example.com>\"\n  }\n},\n}];"
      },
      "id": "00000000-0000-4000-8000-000000000031",
      "name": "Load Gmail Fixture (demo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// --- Shared helpers (safe in Node + n8n) ---\n\nfunction stripHtml(html) {\n  if (!html || typeof html !== \"string\") return \"\";\n  return html\n    .replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, \" \")\n    .replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, \" \")\n    .replace(/<[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction stripSignatureAndQuotes(text) {\n  if (!text || typeof text !== \"string\") return \"\";\n  let t = text.replace(/\\r\\n/g, \"\\n\");\n\n  // Drop \"On … wrote:\" style quoted history\n  const onWrote = /^On .+ wrote:\\s*$/im;\n  const idx = t.search(onWrote);\n  if (idx !== -1) t = t.slice(0, idx).trim();\n\n  // Trim after common signature delimiters\n  const sigDash = t.split(/^--\\s*$/m);\n  if (sigDash.length > 1) t = sigDash[0].trim();\n\n  const sentFrom = t.split(/^Sent from my .+$/im);\n  if (sentFrom.length > 1) t = sentFrom[0].trim();\n\n  return t.trim();\n}\n\nfunction parseFromHeader(from) {\n  if (!from || typeof from !== \"string\") {\n    return { customer_name: \"\", customer_email_or_phone: \"\" };\n  }\n  const trimmed = from.trim();\n  const angled = /^\\s*\"?([^\"<]*?)\"?\\s*<\\s*([^>]+)\\s*>\\s*$/;\n  const m = trimmed.match(angled);\n  if (m) {\n    const name = (m[1] || \"\").replace(/^\"|\"$/g, \"\").trim();\n    const addr = (m[2] || \"\").trim();\n    return {\n      customer_name: name || titleCaseFromEmail(addr),\n      customer_email_or_phone: addr.toLowerCase(),\n    };\n  }\n  const bareEmail = trimmed.match(/^([\\w.!#$%&'*+/=?^`{|}~-]+@[\\w.-]+\\.[A-Za-z]{2,})$/);\n  if (bareEmail) {\n    const e = bareEmail[1].toLowerCase();\n    return { customer_name: titleCaseFromEmail(e), customer_email_or_phone: e };\n  }\n  return { customer_name: trimmed, customer_email_or_phone: \"\" };\n}\n\nfunction titleCaseFromEmail(email) {\n  const local = (email || \"\").split(\"@\")[0] || \"\";\n  if (!local) return \"\";\n  return local\n    .replace(/[._-]+/g, \" \")\n    .replace(/\\b\\w/g, (c) => c.toUpperCase())\n    .trim();\n}\n\n/** Normalize phone digits to tel:+E164-style string for Supabase `customer_email` co-use */\nfunction toTelIdentity(phoneLike) {\n  if (!phoneLike) return \"\";\n  const s = String(phoneLike).trim();\n  if (s.toLowerCase().startsWith(\"tel:\")) return s;\n  const whatsappPrefix = s.match(/^whatsapp:\\+?(\\d+)$/i);\n  if (whatsappPrefix) return `tel:+${whatsappPrefix[1]}`;\n  const digits = s.replace(/\\D/g, \"\");\n  if (!digits) return \"\";\n  return `tel:+${digits}`;\n}\n\nfunction unwrapBody(payload) {\n  if (payload && typeof payload === \"object\" && payload.body) return payload.body;\n  return payload;\n}\n\nfunction getHeadersObject(raw) {\n  const h = raw.headers;\n  if (h && typeof h === \"object\" && !Array.isArray(h)) return h;\n  if (typeof raw.headers === \"string\") return parseRawHeaders(raw.headers);\n  // IMAP: sometimes header lines as array\n  if (Array.isArray(raw.headerLines)) {\n    const o = {};\n    for (const line of raw.headerLines) {\n      const idx = String(line).indexOf(\":\");\n      if (idx > 0) {\n        const k = String(line).slice(0, idx).trim().toLowerCase();\n        o[k] = String(line).slice(idx + 1).trim();\n      }\n    }\n    return o;\n  }\n  return {};\n}\n\nfunction parseRawHeaders(block) {\n  const o = {};\n  if (!block || typeof block !== \"string\") return o;\n  const lines = block.split(/\\r?\\n/);\n  let cur = null;\n  for (const line of lines) {\n    if (/^\\s/.test(line) && cur) {\n      o[cur] += \" \" + line.trim();\n      continue;\n    }\n    const idx = line.indexOf(\":\");\n    if (idx === -1) continue;\n    cur = line.slice(0, idx).trim().toLowerCase();\n    o[cur] = line.slice(idx + 1).trim();\n  }\n  return o;\n}\n\nfunction gmailThreadKey(raw, headers) {\n  if (raw.threadId) return String(raw.threadId);\n  const inReply = headers[\"in-reply-to\"] || headers[\"in_reply_to\"];\n  if (inReply) return `msg:${stripAngleId(inReply)}`;\n  const msgId = headers[\"message-id\"] || headers[\"message_id\"];\n  if (msgId) return `msg:${stripAngleId(msgId)}`;\n  return null;\n}\n\nfunction stripAngleId(v) {\n  return String(v).replace(/[<>]/g, \"\").trim();\n}\n\nfunction detectSource(raw) {\n  const r = unwrapBody(raw);\n  if (r && r.__source) return String(r.__source).toLowerCase();\n  if (r && r.source && [\"gmail\", \"whatsapp\"].includes(String(r.source).toLowerCase())) {\n    return String(r.source).toLowerCase();\n  }\n  // Twilio webhook\n  if (r && (r.From || r.from) && (r.Body || r.body) && (r.SmsSid || r.MessageSid || r.AccountSid)) {\n    return \"whatsapp\";\n  }\n  // Meta Cloud API\n  if (r && r.entry && Array.isArray(r.entry) && r.entry[0] && r.entry[0].changes) {\n    return \"whatsapp\";\n  }\n  // Gmail-ish\n  if (r && (r.from || r.From) && (r.text !== undefined || r.html !== undefined || r.textHtml)) {\n    return \"gmail\";\n  }\n  throw new Error(\n    \"multi_channel_normalizer: could not detect source; set __source to gmail|whatsapp\",\n  );\n}\n\nfunction parseGmail(rawInput) {\n  const raw = unwrapBody(rawInput);\n  const headers = getHeadersObject(raw);\n  const fromField = raw.from || raw.From || headers.from || \"\";\n  const { customer_name, customer_email_or_phone } = parseFromHeader(fromField);\n\n  let body =\n    (typeof raw.text === \"string\" && raw.text) ||\n    (typeof raw.textPlain === \"string\" && raw.textPlain) ||\n    (typeof raw.textAsHtml === \"string\" && stripHtml(raw.textAsHtml)) ||\n    \"\";\n  if (!body && typeof raw.html === \"string\") body = stripHtml(raw.html);\n  if (!body && typeof raw.textHtml === \"string\") body = stripHtml(raw.textHtml);\n\n  const message = stripSignatureAndQuotes(body);\n\n  const subject = raw.subject || headers.subject || \"\";\n  const receivedAt =\n    raw.date ||\n    raw.dateUtc ||\n    raw.internalDate ||\n    new Date().toISOString();\n\n  const external_thread_id = gmailThreadKey(raw, headers);\n\n  return {\n    source: \"gmail\",\n    customer_name,\n    customer_email_or_phone,\n    message,\n    external_thread_id,\n    received_at: typeof receivedAt === \"number\"\n      ? new Date(receivedAt).toISOString()\n      : new Date(receivedAt).toISOString(),\n    raw_payload: rawInput,\n    // Noise filter helpers\n    _filter: {\n      from_header: fromField,\n      subject: subject || \"\",\n      list_unsubscribe: !!(headers[\"list-unsubscribe\"] || headers[\"list_unsubscribe\"]),\n      auto_submitted: headers[\"auto-submitted\"] || headers[\"auto_submitted\"] || \"\",\n      has_attachment: !!(raw.attachments && raw.attachments.length),\n      body_for_rules: message,\n    },\n  };\n}\n\nfunction parseWhatsApp(rawInput) {\n  const raw = unwrapBody(rawInput);\n\n  // --- Twilio WhatsApp Sandbox / API ---\n  const fromTwilio = raw.From || raw.from;\n  const bodyTwilio = raw.Body ?? raw.body;\n  const profileName = raw.ProfileName || raw.profileName || \"\";\n\n  if (fromTwilio && bodyTwilio !== undefined && bodyTwilio !== null) {\n    const phone = toTelIdentity(fromTwilio);\n    return {\n      source: \"whatsapp\",\n      customer_name: String(profileName || \"\").trim() || phone,\n      customer_email_or_phone: phone,\n      message: stripSignatureAndQuotes(String(bodyTwilio)),\n      external_thread_id: phone.replace(/^tel:/, \"wa:\"),\n      received_at: new Date().toISOString(),\n      raw_payload: rawInput,\n      _filter: {\n        from_header: \"\",\n        subject: \"\",\n        list_unsubscribe: false,\n        auto_submitted: \"\",\n        has_attachment: !!(raw.NumMedia && Number(raw.NumMedia) > 0),\n        body_for_rules: String(bodyTwilio),\n      },\n    };\n  }\n\n  // --- Meta WhatsApp Cloud API ---\n  try {\n    const entry0 = raw.entry[0];\n    const change0 = entry0.changes[0];\n    const value = change0.value;\n    const msg0 = value.messages[0];\n    const contact0 = value.contacts && value.contacts[0];\n    const waFrom = msg0.from;\n    const phone = toTelIdentity(waFrom);\n    const textBody =\n      msg0.text && msg0.text.body !== undefined\n        ? msg0.text.body\n        : msg0.type === \"text\"\n          ? \"\"\n          : `[${msg0.type}]`;\n\n    return {\n      source: \"whatsapp\",\n      customer_name:\n        (contact0 && contact0.profile && contact0.profile.name) || phone,\n      customer_email_or_phone: phone,\n      message: stripSignatureAndQuotes(String(textBody)),\n      external_thread_id: phone.replace(/^tel:/, \"wa:\"),\n      received_at: new Date().toISOString(),\n      raw_payload: rawInput,\n      _filter: {\n        from_header: \"\",\n        subject: \"\",\n        list_unsubscribe: false,\n        auto_submitted: \"\",\n        has_attachment: msg0.type && msg0.type !== \"text\",\n        body_for_rules: String(textBody),\n      },\n    };\n  } catch (e) {\n    throw new Error(\n      `multi_channel_normalizer: WhatsApp parse failed — ${e.message}`,\n    );\n  }\n}\n\nfunction normalizeItem(raw) {\n  const source =\n    raw && raw.__source\n      ? String(raw.__source).toLowerCase()\n      : raw && raw.source && [\"gmail\", \"whatsapp\"].includes(String(raw.source).toLowerCase())\n        ? String(raw.source).toLowerCase()\n        : detectSource(raw);\n\n  if (source === \"gmail\") return parseGmail(raw);\n  if (source === \"whatsapp\") return parseWhatsApp(raw);\n  throw new Error(`multi_channel_normalizer: unknown source \"${source}\"`);\n}\n\n// --- n8n entrypoint (paste from \"if (typeof $input\" through the closing brace into Code node) ---\n\nreturn $input.all().map(({ json }) => ({\n  json: normalizeItem(json),\n}));\n"
      },
      "id": "00000000-0000-4000-8000-000000000032",
      "name": "Multi-Channel Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const AUTOMATED_LOCAL = new RegExp(\n  String.raw`^(no-?reply|noreply|do-not-reply|mailer-daemon|notifications?|notify|alerts?|news(letters?)?|updates?|info|hello|support)(?:$|[.\\-_])`,\n  \"i\",\n);\n\nconst PLEASANTRY = /^(thanks?|thx|ty|ok|okay|got\\s+it|cheers|noted|👍|🙏)\\b\\.?[!.']*$/iu;\n\nconst OFFICE_SUBJ = /^(out of office|automatic reply|vacation)\\b/i;\n\nconst SPAM_LEX = [\"free\", \"win\", \"click here\", \"prize\", \"viagra\", \"crypto\", \"$$$\"];\n\nfunction tokenCount(s) {\n  return s\n    .trim()\n    .split(/\\s+/)\n    .filter(Boolean).length;\n}\n\nfunction hasQuestion(body) {\n  return typeof body === \"string\" && body.includes(\"?\");\n}\n\nfunction normBody(message, filter) {\n  const b = (filter && filter.body_for_rules) || message || \"\";\n  return String(b).trim();\n}\n\nfunction drop(reason, normalized) {\n  return {\n    json: {\n      keep: false,\n      drop_reason: reason,\n      normalized,\n    },\n  };\n}\n\nfunction keep(normalized) {\n  return {\n    json: {\n      keep: true,\n      drop_reason: null,\n      ...normalized,\n    },\n  };\n}\n\nfunction evaluateNoiseFilter(normalized) {\n  const f = normalized._filter || {};\n  const body = normBody(normalized.message, f);\n  const fromHeader = String(f.from_header || \"\").toLowerCase();\n  const subject = String(f.subject || \"\");\n\n  // Extract rough \"local part\" and domain for Gmail-ish heuristics\n  const emailMatch = fromHeader.match(/<([^>]+)>\\s*$/);\n  const addr = (emailMatch ? emailMatch[1] : fromHeader).trim();\n  const at = addr.lastIndexOf(\"@\");\n  const localPart = at > 0 ? addr.slice(0, at) : addr;\n  const domain = at > 0 ? addr.slice(at + 1) : \"\";\n\n  if (normalized.source === \"gmail\") {\n    if (\n      (AUTOMATED_LOCAL.test(localPart) || AUTOMATED_LOCAL.test(domain)) &&\n      !hasQuestion(body)\n    ) {\n      return drop(\"automated_sender_no_question\", normalized);\n    }\n\n    if (OFFICE_SUBJ.test(subject)) {\n      return drop(\"auto_reply_subject\", normalized);\n    }\n\n    const autoSub = String(f.auto_submitted || \"\").toLowerCase();\n    if (autoSub.includes(\"auto-replied\")) {\n      return drop(\"auto_submitted_header\", normalized);\n    }\n\n    if (f.list_unsubscribe) {\n      return drop(\"list_unsubscribe_header\", normalized);\n    }\n\n    if (\n      /\\bunsubscribe\\b/i.test(body) &&\n      /\\bhttps?:\\/\\//i.test(body.slice(0, 80))\n    ) {\n      return drop(\"newsletter_unsubscribe_body\", normalized);\n    }\n  }\n\n  const tokens = tokenCount(body);\n  if (tokens <= 3 && tokens > 0 && PLEASANTRY.test(body)) {\n    return drop(\"short_pleasantry\", normalized);\n  }\n\n  if (body.length < 8 && !f.has_attachment) {\n    return drop(\"body_too_short\", normalized);\n  }\n\n  let spamHits = 0;\n  const low = body.toLowerCase();\n  for (const w of SPAM_LEX) {\n    if (low.includes(w)) spamHits++;\n  }\n  if (spamHits >= 3) {\n    return drop(\"spam_keyword_density\", normalized);\n  }\n\n  return keep(normalized);\n}\n\n// --- n8n entrypoint ---\nreturn $input.all().map(({ json }) => evaluateNoiseFilter(json));\n"
      },
      "id": "00000000-0000-4000-8000-000000000033",
      "name": "Noise Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000091",
              "leftValue": "={{ $json.keep }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "00000000-0000-4000-8000-000000000034",
      "name": "IF Keep",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: \"WF0a Gmail Intake\", step: \"noise_filter_dropped\", result: \"skipped\", payload: $json } }}"
      },
      "id": "00000000-0000-4000-8000-000000000035",
      "name": "Log Noise Drop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1180,
        120
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const normalized = $input.first().json;\nconst id = normalized.customer_email_or_phone || '';\nif (!id) throw new Error('DedupLookupQuery: missing customer_email_or_phone');\nconst variants = [...new Set([id, id.toLowerCase()].filter(Boolean))];\nconst orInner = variants.map((v) => 'customer_email.eq.' + encodeURIComponent(v)).join(',');\nconst lookup_path =\n  '?select=id,status,updated_at' +\n  '&status=in.(new,in_progress,awaiting_reply)' +\n  '&or=(' + orInner + ')' +\n  '&order=updated_at.desc&limit=1';\nreturn [{ json: { lookup_path, normalized } }];"
      },
      "id": "00000000-0000-4000-8000-000000000036",
      "name": "Dedup Lookup Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads{{ $json.lookup_path }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth"
      },
      "id": "00000000-0000-4000-8000-000000000037",
      "name": "Supabase GET Lead Dedup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1420,
        340
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const response = $input.first().json;\nconst rows = Array.isArray(response)\n  ? response\n  : Array.isArray(response.body)\n    ? response.body\n    : response && response.id\n      ? [response]\n      : [];\nconst normalized = $('Multi-Channel Normalizer').first().json;\nconst hit = Array.isArray(rows) && rows[0] && rows[0].id;\nif (hit) {\n  return [{ json: { action: 'append_conversation', lead_id: rows[0].id, normalized } }];\n}\nreturn [{ json: { action: 'create_new_lead', normalized } }];"
      },
      "id": "00000000-0000-4000-8000-000000000038",
      "name": "Dedup Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "append_conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00000000-0000-4000-8000-000000000003"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "append_conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_new_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00000000-0000-4000-8000-000000000004"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_new_lead"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "00000000-0000-4000-8000-000000000039",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1900,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.normalized.source, customer_name: $json.normalized.customer_name, customer_email: $json.normalized.customer_email_or_phone, message: $json.normalized.message, received_at: $json.normalized.received_at, status: \"unread\", raw_payload: Object.assign({}, $json.normalized.raw_payload || {}, { lead_hint: $json.lead_id, external_thread_id: $json.normalized.external_thread_id }) } }}"
      },
      "id": "00000000-0000-4000-8000-000000000040",
      "name": "POST Conversation (append)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2140,
        200
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads?id=eq.{{ $('Dedup Decision').first().json.lead_id }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { updated_at: new Date().toISOString() } }}"
      },
      "id": "00000000-0000-4000-8000-000000000041",
      "name": "PATCH Lead Touch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2380,
        200
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/conversations",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        },
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.normalized.source, customer_name: $json.normalized.customer_name, customer_email: $json.normalized.customer_email_or_phone, message: $json.normalized.message, received_at: $json.normalized.received_at, status: \"unread\", raw_payload: Object.assign({}, $json.normalized.raw_payload || {}, { external_thread_id: $json.normalized.external_thread_id }) } }}"
      },
      "id": "00000000-0000-4000-8000-000000000042",
      "name": "POST Conversation (new)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2140,
        440
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knurdz3o.app.n8n.cloud/webhook/nexus/classify",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversation_id: $('POST Conversation (append)').first().json.body[0].id,\n  lead_id: $('Dedup Decision').first().json.lead_id,\n  message: $('Dedup Decision').first().json.normalized.message,\n  customer_name: $('Dedup Decision').first().json.normalized.customer_name,\n  customer_email: $('Dedup Decision').first().json.normalized.customer_email_or_phone\n} }}"
      },
      "id": "00000000-0000-4000-8000-000000000043",
      "name": "Trigger WF2 Classification (append)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2620,
        200
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knurdz3o.app.n8n.cloud/webhook/nexus/classify",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  conversation_id: $('POST Conversation (new)').first().json.body[0].id,\n  message: $('Dedup Decision').first().json.normalized.message,\n  customer_name: $('Dedup Decision').first().json.normalized.customer_name,\n  customer_email: $('Dedup Decision').first().json.normalized.customer_email_or_phone\n} }}"
      },
      "id": "00000000-0000-4000-8000-000000000431",
      "name": "Trigger WF2 Classification (new)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2620,
        440
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {},
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workflow_name: 'WF0a Gmail Intake', step: 'channel_intake_ok', result: 'success', payload: { source: 'gmail', wf2_response: $json } } }}"
      },
      "id": "00000000-0000-4000-8000-000000000044",
      "name": "Log Intake OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2860,
        320
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Gmail Fixture (demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Gmail Fixture (demo)": {
      "main": [
        [
          {
            "node": "Multi-Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Multi-Channel Normalizer": {
      "main": [
        [
          {
            "node": "Noise Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noise Filter": {
      "main": [
        [
          {
            "node": "IF Keep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Keep": {
      "main": [
        [
          {
            "node": "Dedup Lookup Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Noise Drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Lookup Query": {
      "main": [
        [
          {
            "node": "Supabase GET Lead Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase GET Lead Dedup": {
      "main": [
        [
          {
            "node": "Dedup Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Decision": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "POST Conversation (append)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST Conversation (new)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Conversation (append)": {
      "main": [
        [
          {
            "node": "PATCH Lead Touch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH Lead Touch": {
      "main": [
        [
          {
            "node": "Trigger WF2 Classification (append)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Conversation (new)": {
      "main": [
        [
          {
            "node": "Trigger WF2 Classification (new)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF2 Classification (append)": {
      "main": [
        [
          {
            "node": "Log Intake OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF2 Classification (new)": {
      "main": [
        [
          {
            "node": "Log Intake OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "nexus-os-export"
  },
  "tags": [
    {
      "name": "nexus-os"
    }
  ]
}