n8n_logic/exports/wf0g_outbound_drain.json
{
  "id": "wf0gOutboundDrain01",
  "name": "WF0g - Outbound Jobs Drain",
  "active": true,
  "note": "Hardened 2026-07-17: polls /api/internal/n8n/outbound-jobs/claim, sends via send-reply with job token, reports result. Re-import and publish trigger in live n8n.",
  "nodes": [
    {
      "id": "sn-outbound-drain",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "content": "## WF0g — Outbound Jobs Drain\n\nEvery 2 minutes: claim the oldest queued `outbound_jobs` row → `POST /api/internal/n8n/send-reply` with the minted job token → `POST /api/internal/n8n/outbound-jobs/result`.\n\n**Required n8n Variables:** `NEXUS_APP_URL`, `N8N_BOOTSTRAP_TOKEN` (or legacy `N8N_INGEST_TOKEN`).\n\nDurable fallback when the approval-trigger webhook fails at approve-time.",
        "height": 260,
        "width": 420
      }
    },
    {
      "id": "sched-outbound-drain",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 240],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      }
    },
    {
      "id": "claim-outbound-job",
      "name": "Claim Outbound Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '') + '/api/internal/n8n/outbound-jobs/claim' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_BOOTSTRAP_TOKEN || $vars.N8N_INGEST_TOKEN }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      }
    },
    {
      "id": "if-claimed",
      "name": "Job Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [720, 240],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "claimed-true",
              "leftValue": "={{ $json.claimed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [960, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '') + '/api/internal/n8n/send-reply' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Claim Outbound Job').item.json.job_token }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  job_id: $('Claim Outbound Job').item.json.job.id,\n  draft_id: $('Claim Outbound Job').item.json.job.draft_id,\n  team_id: $('Claim Outbound Job').item.json.job.team_id,\n  conversation_id: $('Claim Outbound Job').item.json.job.conversation_id,\n  workspace_id: $('Claim Outbound Job').item.json.job.workspace_id\n} }}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      }
    },
    {
      "id": "report-result",
      "name": "Report Job Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '') + '/api/internal/n8n/outbound-jobs/result' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Claim Outbound Job').item.json.job_token }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  job_id: $('Claim Outbound Job').item.json.job.id,\n  status: ($json.success === true || $json.status === 'sent') ? 'sent' : 'failed',\n  provider_message_id: $json.provider_message_id || null,\n  error: ($json.success === true || $json.status === 'sent') ? null : ($json.error || $json.message || 'send_failed')\n} }}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [[{ "node": "Claim Outbound Job", "type": "main", "index": 0 }]]
    },
    "Claim Outbound Job": {
      "main": [[{ "node": "Job Claimed?", "type": "main", "index": 0 }]]
    },
    "Job Claimed?": {
      "main": [
        [{ "node": "Send Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Reply": {
      "main": [[{ "node": "Report Job Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
