n8n_logic/exports/wf5_daily_buy_back_report.json
{
  "id": "QoJIseLTX2jwDYEy",
  "name": "WF5 - Daily Buy-Back Report",
  "active": true,
  "note": "Exported from live n8n (knurdz3o.app.n8n.cloud) on 2026-07-17. Live workflow id: QoJIseLTX2jwDYEy.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "de58340c-866e-41c3-bdf5-ba094bafd1f8",
      "name": "Morning Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus/report",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f243d719-ce54-4a0c-81a8-9d6961052b2b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        544
      ],
      "webhookId": "4fa813ec-cb15-49e2-8771-5deb20cbe56c"
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/conversations?received_at=gte.' + encodeURIComponent($today.toISO()) + '&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=id' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "337fd864-129a-4fa0-b150-25dc14b0ff8c",
      "name": "Get Total Conversations Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads?urgency=eq.high&status=in.(new,in_progress,awaiting_reply)&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=id,estimated_value' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "212e1bdd-edd3-46a4-b74e-86a31ee0cf0d",
      "name": "Get Hot Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        128
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads?risk_type=eq.churn_risk&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=id' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "83a2d00c-b5e7-4764-92a3-59234dc1de34",
      "name": "Get Churn Risks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        272
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/reply_drafts?created_at=gte.' + encodeURIComponent($today.toISO()) + '&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=id' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "321102b9-f4ce-4147-9554-733c73636f5a",
      "name": "Get Replies Drafted Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        416
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/followups?status=eq.pending&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=id' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2a0e626c-e6f8-4539-ae02-eb57e76c50d4",
      "name": "Get Pending Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        560
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/leads?status=neq.replied&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&select=estimated_value' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e5442054-f461-4995-881f-262a6604e66f",
      "name": "Get Revenue At Risk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        704
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/business_profiles?select=id,name&team_id=eq.' + encodeURIComponent($('Loop Over Items').item.json.team_id) + '&limit=1' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "042d9801-8856-4ac4-9198-283a2285b7cc",
      "name": "Get Business Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        848
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "31e3ecf5-297c-4694-8161-d813b85fcbe9",
      "name": "Wait for Report Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const rowsFrom = (nodeName) => {\n  const rows = [];\n\n  for (const item of $(nodeName).all()) {\n    const data = item.json;\n\n    if (Array.isArray(data?.body)) {\n      rows.push(...data.body);\n    } else if (Array.isArray(data)) {\n      rows.push(...data);\n    } else if (Array.isArray(data?.data)) {\n      rows.push(...data.data);\n    } else if (data && typeof data === 'object' && Object.keys(data).length > 0) {\n      rows.push(data);\n    }\n  }\n\n  return rows;\n};\n\nconst conversations = rowsFrom('Get Total Conversations Today');\nconst hotLeads      = rowsFrom('Get Hot Leads');\nconst churnRisks    = rowsFrom('Get Churn Risks');\nconst replies       = rowsFrom('Get Replies Drafted Today');\nconst followups     = rowsFrom('Get Pending Follow-ups');\nconst revenueItems  = rowsFrom('Get Revenue At Risk');\nconst profile       = rowsFrom('Get Business Profile');\n\nconst totalConversations = conversations.length;\nconst hotLeadsCount      = hotLeads.length;\nconst churnRisksCount    = churnRisks.length;\nconst repliesDrafted     = replies.length;\nconst followupsScheduled = followups.length;\n\nconst revenueAtRisk = revenueItems.reduce((sum, item) => {\n  return sum + (parseFloat(item.estimated_value) || 0);\n}, 0);\n\nconst hoursSaved = ((repliesDrafted * 12) + (followupsScheduled * 8)) / 60;\nconst businessName = profile[0]?.name ?? 'the business';\n\nreturn [{\n  json: {\n    business_name:        businessName,\n    date:                 new Date().toISOString().split('T')[0],\n    total_conversations:  totalConversations,\n    hot_leads_count:      hotLeadsCount,\n    churn_risks_count:    churnRisksCount,\n    replies_drafted:      repliesDrafted,\n    replies_sent:         repliesDrafted,\n    followups_scheduled:  followupsScheduled,\n    revenue_at_risk:      Math.round(revenueAtRisk),\n    hours_saved:          Math.round(hoursSaved * 10) / 10\n  }\n}];"
      },
      "id": "b5b029ec-dbc1-4cb3-9ffe-fd94b2c1b834",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/daily_reports?on_conflict=team_id,report_date",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  team_id: $('Loop Over Items').item.json.team_id,\n  workspace_id: $('Loop Over Items').item.json.workspace_id,\n  report_date: $('Aggregate Stats').item.json.date,\n  revenue_at_risk: $('Aggregate Stats').item.json.revenue_at_risk,\n  hot_leads_count: $('Aggregate Stats').item.json.hot_leads_count,\n  churn_risks_count: $('Aggregate Stats').item.json.churn_risks_count,\n  replies_drafted: $('Aggregate Stats').item.json.replies_drafted,\n  followups_scheduled: $('Aggregate Stats').item.json.followups_scheduled,\n  hours_saved: $('Aggregate Stats').item.json.hours_saved,\n  summary: (($json.message && $json.message.content) || $json.text || $json.content || '').trim()\n} }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b7cc7ec0-2716-4fba-8d79-352e0fa41f50",
      "name": "Save Daily Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        416
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/workflow_logs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  workflow_name: 'daily_report',\n  step: 'report_saved',\n  result: 'success',\n  team_id: $('Loop Over Items').item.json.team_id,\n  workspace_id: $('Loop Over Items').item.json.workspace_id,\n  payload: {\n    date: $('Aggregate Stats').item.json.date,\n    revenue_at_risk: $('Aggregate Stats').item.json.revenue_at_risk,\n    hours_saved: $('Aggregate Stats').item.json.hours_saved\n  },\n  timestamp: $now.toISO()\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "neverError": true
            }
          }
        }
      },
      "id": "e507183d-4449-4838-b5bd-988f3c4b4348",
      "name": "Log Report Generated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        416
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "wf5-cond-team-override",
              "leftValue": "={{ $json.body?.team_id }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "2714cf1d-34fd-4afb-9ece-0488070e5e49",
      "name": "Has team_id override?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        416
      ]
    },
    {
      "parameters": {
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/business_profiles?select=team_id,workspace_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a9f982cb-5b77-4ee8-bbea-63bae63fc26d",
      "name": "Fetch Active Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        528
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nreturn [{\n  json: {\n    team_id: String(body.team_id).trim(),\n    workspace_id: body.workspace_id ?? null,\n  },\n}];"
      },
      "id": "755c03a4-8e6b-4814-945f-0a69b0011f82",
      "name": "Build Team List (override)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = $input.first().json;\nconst rows = Array.isArray(http)\n  ? http\n  : Array.isArray(http.body)\n    ? http.body\n    : [];\n\nlet tenants = rows\n  .filter((r) => r && r.team_id)\n  .map((r) => ({\n    team_id: String(r.team_id),\n    workspace_id: r.workspace_id ?? null,\n  }));\n\nif (tenants.length === 0) {\n  const fallback =\n    typeof $env !== 'undefined' && $env.NEXUS_TEAM_ID\n      ? String($env.NEXUS_TEAM_ID).trim()\n      : '';\n  if (fallback) {\n    tenants = [{ team_id: fallback, workspace_id: null }];\n  }\n}\n\nreturn tenants.map((t) => ({ json: t }));"
      },
      "id": "d0a87cb4-9473-41d1-bcc9-5d662c091ddd",
      "name": "Normalize Tenant List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        528
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "028e36bc-b97a-4315-b11b-f9e156533cb2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        416
      ]
    },
    {
      "parameters": {},
      "id": "648e7bd1-ea1b-4b65-9e95-e31b0c1a5891",
      "name": "Noop (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        560
      ]
    },
    {
      "id": "c34ddfee-54f4-4c50-b556-563987bbaad0",
      "name": "Build Report Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        560
      ],
      "parameters": {
        "jsCode": "const s = $('Aggregate Stats').first().json;\nconst template = [\n  `${s.business_name} daily brief for ${s.date}: ${s.total_conversations} conversations processed with LKR ${s.revenue_at_risk} revenue at risk.`,\n  `${s.replies_drafted} reply drafts were prepared and ${s.followups_scheduled} follow-ups scheduled, saving about ${s.hours_saved} hours.`,\n  `${s.hot_leads_count} hot leads and ${s.churn_risks_count} churn risks still need founder attention today.`,\n  `Review pending drafts and respond to the highest-value hot lead first.`\n].join(' ');\n\n// The report-summary endpoint (app-hosted OpenAI) already falls back to a labelled\n// summary when the key is missing or the call fails — this template only covers a\n// hard network/transport failure reaching the app itself.\nconst ai = $('Generate AI Summary (via app)').first().json || {};\nconst text = String(ai.summary || '').trim();\n\nreturn [{ json: { text: text || template, summary_source: ai.source || 'template' } }];"
      }
    },
    {
      "id": "96dfe4ae-d79e-4884-bdf4-1f6d688d44fa",
      "name": "Generate AI Summary (via app)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        416
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org') + '/api/internal/n8n/ai/report-summary' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_INGEST_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { team_id: $('Loop Over Items').item.json.team_id, workspace_id: $('Loop Over Items').item.json.workspace_id, style: 'brief', stats: { business_name: $json.business_name, date: $json.date, total_conversations: $json.total_conversations, hot_leads_count: $json.hot_leads_count, churn_risks_count: $json.churn_risks_count, replies_drafted: $json.replies_drafted, followups_scheduled: $json.followups_scheduled, revenue_at_risk: $json.revenue_at_risk, hours_saved: $json.hours_saved } } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Build Team List (override)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Tenants": {
      "main": [
        [
          {
            "node": "Normalize Tenant List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Business Profile": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Get Churn Risks": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Hot Leads": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Pending Follow-ups": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Get Replies Drafted Today": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get Revenue At Risk": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Get Total Conversations Today": {
      "main": [
        [
          {
            "node": "Wait for Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has team_id override?": {
      "main": [
        [
          {
            "node": "Build Team List (override)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Active Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Report Generated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Has team_id override?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning Schedule": {
      "main": [
        [
          {
            "node": "Has team_id override?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tenant List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Daily Report": {
      "main": [
        [
          {
            "node": "Log Report Generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Report Data": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Noop (End)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Total Conversations Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Hot Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Churn Risks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Replies Drafted Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Follow-ups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Revenue At Risk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Business Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Summary": {
      "main": [
        [
          {
            "node": "Save Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Generate AI Summary (via app)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Summary (via app)": {
      "main": [
        [
          {
            "node": "Build Report Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  }
}
