n8n_logic/exports/wf8c_post_image_generation.json
{
  "id": "RfmuS0guiaq64Lrx",
  "name": "WF8c - AI Post Image Generation",
  "active": true,
  "note": "Exported from live n8n (knurdz3o.app.n8n.cloud) on 2026-07-17. Live workflow id: RfmuS0guiaq64Lrx. RETIRED in favor of in-app image generation — use POST /api/posts/generate-image and /api/posts/edit-image (lib/posts/ai.ts + lib/ai/provider.ts). Deactivate this workflow in n8n once confirmed unused.",
  "nodes": [
    {
      "parameters": {
        "content": "## RETIRED — use in-app image generation\n\nThis webhook workflow (`generate-post-image`) is superseded by the Nexus OS Post unit:\n- `POST /api/posts/generate-image` — new image (OpenAI via `lib/ai/provider.ts`)\n- `POST /api/posts/edit-image` — edit existing image\n\nDeactivate this workflow in n8n. Do not wire new clients to this webhook.",
        "height": 280,
        "width": 420
      },
      "id": "c8c00001-0000-4000-8000-000000000001",
      "name": "Sticky Note — retired",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        180
      ]
    },
    {
      "id": "b36696ae-c1da-4be8-a4cc-c1b174ce705e",
      "name": "Image Gen Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "generate-post-image",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "webhookId": "1cf63f8d-5682-43c9-b91c-1c3886680d32"
    },
    {
      "id": "6b1db1cb-b7f8-4bee-a6cc-e7343f17efa3",
      "name": "Enhance Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { model: \"gpt-4o-mini\", messages: [ { role: \"system\", content: \"You are an expert prompt engineer for AI image generation. Refine the user prompt into one detailed, visually specific image generation prompt suitable for a social media post image. Return ONLY the enhanced prompt, no preamble.\" }, { role: \"user\", content: \"Refine: \" + $json.body.prompt } ] } }}",
        "options": {}
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "07c5ddfe-8dd5-4220-ae08-27665f04e81d",
      "name": "Build Image Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "const enhanced = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content || '').trim();\nif (!enhanced) throw new Error('Prompt enhancement returned empty content');\nconst body = $('Image Gen Input').first().json.body;\nif (!body.orgId) throw new Error('orgId is required');\nreturn [{ json: {\n  requestBody: { model: 'gpt-image-1', prompt: enhanced, size: '1024x1024' },\n  enhancedPrompt: enhanced,\n  orgId: body.orgId,\n  parentGenerationId: body.parentGenerationId || null,\n  originalPrompt: body.prompt || ''\n} }];"
      }
    },
    {
      "id": "968347d6-c7cb-4b50-8fb2-11d752dfe67c",
      "name": "Generate Image (gpt-image-1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "5288a9cc-a196-4287-95ef-72f3f15fed67",
      "name": "Decode Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "parameters": {
        "jsCode": "const b64 = $json.data && $json.data[0] && $json.data[0].b64_json;\nif (!b64) throw new Error('No image in response: ' + JSON.stringify($json).slice(0, 300));\nconst ctx = $('Build Image Request').first().json;\nconst fileName = Date.now() + '-' + Math.random().toString(36).slice(2, 8) + '.png';\nconst storagePath = ctx.orgId + '/' + fileName;\nreturn [{\n  json: {\n    storagePath: storagePath,\n    insertBody: {\n      organization_id: ctx.orgId,\n      prompt: ctx.enhancedPrompt,\n      image_url: 'post-media/' + storagePath,\n      parent_generation_id: ctx.parentGenerationId,\n      model: 'gpt-image-1'\n    }\n  },\n  binary: { data: { data: b64, mimeType: 'image/png', fileName: fileName } }\n}];"
      }
    },
    {
      "id": "955988a2-e48e-4385-bed7-93e1c5c3337b",
      "name": "Upload To Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/storage/v1/object/post-media/{{ $json.storagePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "93b61afd-6055-421c-b839-babe3e39942e",
      "name": "Insert Generation Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://xuvodbcdmfhlbldbvwvt.supabase.co/rest/v1/post_generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $('Decode Image').item.json.insertBody }}",
        "options": {}
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "c6e35fbf-cfde-465a-8a71-5b6be3a375fa",
      "name": "Create Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://xuvodbcdmfhlbldbvwvt.supabase.co/storage/v1/object/sign/post-media/{{ $('Decode Image').item.json.storagePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { expiresIn: 86400 } }}",
        "options": {}
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "4rfwTEeSitzS3JeQ",
          "name": "Supabase API"
        }
      }
    },
    {
      "id": "e242b089-eaa2-43ed-9c8c-8e902e5f1501",
      "name": "Shape Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        300
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "gen-id",
              "name": "generation_id",
              "type": "string",
              "value": "={{ $('Insert Generation Record').first().json.id }}"
            },
            {
              "id": "img-path",
              "name": "image_path",
              "type": "string",
              "value": "={{ $('Decode Image').first().json.storagePath }}"
            },
            {
              "id": "signed-url",
              "name": "signed_url",
              "type": "string",
              "value": "={{ 'https://xuvodbcdmfhlbldbvwvt.supabase.co/storage/v1' + $json.signedURL }}"
            },
            {
              "id": "enh-prompt",
              "name": "enhanced_prompt",
              "type": "string",
              "value": "={{ $('Build Image Request').first().json.enhancedPrompt }}"
            }
          ]
        }
      }
    },
    {
      "id": "2fd3aee2-9989-4233-9094-58c26821773f",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2760,
        300
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Image Gen Input": {
      "main": [
        [
          {
            "node": "Enhance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt": {
      "main": [
        [
          {
            "node": "Build Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Request": {
      "main": [
        [
          {
            "node": "Generate Image (gpt-image-1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Image": {
      "main": [
        [
          {
            "node": "Upload To Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload To Storage": {
      "main": [
        [
          {
            "node": "Insert Generation Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Generation Record": {
      "main": [
        [
          {
            "node": "Create Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Signed URL": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image (gpt-image-1)": {
      "main": [
        [
          {
            "node": "Decode Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
