n8n_logic/exports/wf8d_social_scheduler.json
{
  "id": "47BO0agxAJGizttR",
  "name": "WF8d - Social Post Scheduler",
  "active": true,
  "note": "Hardened 2026-07-17: active, NEXUS_APP_URL fallback, WF8b webhook auth header on trigger.",
  "nodes": [
    {
      "id": "8e6b4de6-813c-4a6b-b9a7-5fd6f6e01e60",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      }
    },
    {
      "id": "d2f2a625-8767-43b3-8371-ac428327a9d2",
      "name": "Claim Due Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 0],
      "parameters": {
        "method": "GET",
        "url": "={{ ($vars.NEXUS_APP_URL || 'https://nexusos.knurdz.org').replace(/\\/$/, '') + '/api/internal/n8n/scheduled-posts' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_BOOTSTRAP_TOKEN || $vars.N8N_INGEST_TOKEN }}"
            }
          ]
        },
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      }
    },
    {
      "id": "c28f431c-d243-4f92-9a1f-5ece7f062db7",
      "name": "Expand Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resp = $input.first().json || {};\nconst rows = Array.isArray(resp.data) ? resp.data : [];\nreturn rows.map((r) => ({ json: r }));"
      }
    },
    {
      "id": "5d55266a-a463-468d-bdc6-f1ce3b638202",
      "name": "Trigger Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [672, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ ($vars.N8N_SOCIAL_PUBLISH_WEBHOOK_URL || (($vars.N8N_WEBHOOK_BASE_URL || 'https://knurdz3o.app.n8n.cloud').replace(/\\/$/, '') + '/webhook/publish-social-post')) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.N8N_WEBHOOK_TOKEN }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"orgId\": $json.organization_id, \"postId\": $json.id, \"platforms\": $json.platforms } }}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Claim Due Posts", "type": "main", "index": 0 }]]
    },
    "Claim Due Posts": {
      "main": [[{ "node": "Expand Posts", "type": "main", "index": 0 }]]
    },
    "Expand Posts": {
      "main": [[{ "node": "Trigger Publish", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
